<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th rowspan="3">ক্র. নং</th>
        <th rowspan="3">কৃষকের নাম</th>
        <th rowspan="3">পিতার নাম</th>
        <th rowspan="3">মোবাইল নং</th>
        <th rowspan="3">মোট কৃষি জমি (শতাংশ)</th>
        <th colspan="12">আবাদকৃত ফসলী জমির পরিমাণ (শতাংশ)</th>
        <th rowspan="3">কৃষকের সেচ যন্ত্র আছে কিনা?</th>
        <th rowspan="3">ব্লকে এসএএও কর্তৃক গঠিত কত নাম্বার কৃষক গ্রুপের সদস্য</th>
    </tr>
    <tr>
        <th colspan="6">রবি মৌসুমের ফসল</th>
        <th colspan="3">খরিফ-১ মৌসুমের ফসল</th>
        <th colspan="3">খরিফ-২ মৌসুমের ফসল</th>
    </tr>
    <tr>
        <th>আম</th>
        <th>জাম</th>
        <th>কাঠাল</th>
        <th>আম</th>
        <th>আম</th>
        <th>আম</th>
        <th>আম</th>
        <th>আম</th>
        <th>আম</th>
        <th>আম</th>
        <th>আম</th>
        <th>আম</th>
    </tr>
    </thead> 
    <tbody>
        <% records.forEach(function(row,index){ %>
            <tr>
                <td><%= index+1 %></td>
                <td><%= row.name %></td>
                <td><%= row.fname %></td> 
                <td><%= row.mobile %></td>
                <td><%= row.total %></td>               
                <td><%= row.robi1 %></td>
                <td><%= row.robi2 %></td>
                <td><%= row.robi3 %></td>
                <td><%= row.robi4 %></td>
                <td><%= row.robi5 %></td>
                <td><%= row.robi6 %></td>
                <td><%= row.kharif1_1 %></td>
                <td><%= row.kharif1_2 %></td>
                <td><%= row.kharif1_3 %></td>
                <td><%= row.kharif2_1 %></td>
                <td><%= row.kharif2_2 %></td>
                <td><%= row.kharif2_3 %></td>
                <td><%= row.irrigation %></td>
                <td><%= row.groups %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th rowspan="3">ক্র. নং</th>
                <th rowspan="3">কৃষকের নাম</th>
                <th rowspan="3">পিতার নাম</th>
                <th rowspan="3">মোবাইল নং</th>
                <th rowspan="3">মোট কৃষি জমি (শতাংশ)</th>
                <th colspan="12">আবাদকৃত ফসলী জমির পরিমাণ (শতাংশ)</th>
                <th rowspan="3">কৃষকের সেচ যন্ত্র আছে কিনা?</th>
                <th rowspan="3">ব্লকে এসএএও কর্তৃক গঠিত কত নাম্বার কৃষক গ্রুপের সদস্য</th>
             
            </tr>
            <tr>
                <th colspan="6">রবি মৌসুমের ফসল</th>
                <th colspan="3">খরিফ-১ মৌসুমের ফসল</th>
                <th colspan="3">খরিফ-২ মৌসুমের ফসল</th>
            </tr>
            <tr>
                <th>আম</th>
                <th>জাম</th>
                <th>কাঠাল</th>
                <th>আম</th>
                <th>আম</th>
                <th>আম</th>
                <th>আম</th>
                <th>আম</th>
                <th>আম</th>
                <th>আম</th>
                <th>আম</th>
                <th>আম</th>
            </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>