<table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>ক্রমিক নং</th>
        <th>প্রযুক্তির নাম</th>
        <th>ব্যবহারকারীর (সংখ্যা)(২০১৭-১৮)</th>
        <th>ব্যবহারকারীর (সংখ্যা)(২০১৮-১৯)</th>
        <th>ব্যবহারকারীর (সংখ্যা)(২০১৯-২০)</th>
        <th>ব্যবহারকারীর (সংখ্যা)(২০২০-২১)</th>
        <th>ব্যবহারকারীর (সংখ্যা)(২০২১-২২)</th>
        <th>ব্যবহারকারীর (সংখ্যা)(২০২২-২৩)</th>
        <th>ব্যবহৃত জমি(২০১৭-১৮)</th>
        <th>ব্যবহৃত জমি(২০১৮-১৯)</th>
        <th>ব্যবহৃত জমি(২০১৯-২০)</th>
        <th>ব্যবহৃত জমি(২০২০-২১)</th>
        <th>ব্যবহৃত জমি(২০২১-২২)</th>
        <th>ব্যবহৃত জমি(২০২২-২৩)</th>
        
    </tr>
    </thead>
    <tbody>
            <tr>
                
                <% var sumadorshoBijUserSeventeen=0;%> 
                <% var sumadorshoBijUserEighteen=0;%> 
                <% var sumadorshoBijUserNineteen=0;%> 
                <% var sumadorshoBijUserTwenty=0;%> 
                <% var sumadorshoBijUserTwentyOne=0;%> 
                <% var sumadorshoBijUserTwentyTwo=0;%> 
                
                <% for(var i=0;i<seventeen.length;i++){ sumadorshoBijUserSeventeen=sumadorshoBijUserSeventeen+seventeen[i].adorshoBijUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumadorshoBijUserEighteen=sumadorshoBijUserEighteen+eighteen[i].adorshoBijUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumadorshoBijUserNineteen=sumadorshoBijUserNineteen+nineteen[i].adorshoBijUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumadorshoBijUserTwenty=sumadorshoBijUserTwenty+twenty[i].adorshoBijUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumadorshoBijUserTwentyOne=sumadorshoBijUserTwentyOne+twentyOne[i].adorshoBijUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumadorshoBijUserTwentyTwo=sumadorshoBijUserTwentyTwo+twentyTwo[i].adorshoBijUser}; %>

                    <% var sumadorshoBijLandSeventeen=0;%> 
                    <% var sumadorshoBijLandEighteen=0;%> 
                    <% var sumadorshoBijLandNineteen=0;%> 
                    <% var sumadorshoBijLandTwenty=0;%> 
                    <% var sumadorshoBijLandTwentyOne=0;%> 
                    <% var sumadorshoBijLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumadorshoBijLandSeventeen=sumadorshoBijLandSeventeen+seventeen[i].adorshoBijLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumadorshoBijLandEighteen=sumadorshoBijLandEighteen+eighteen[i].adorshoBijLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumadorshoBijLandNineteen=sumadorshoBijLandNineteen+nineteen[i].adorshoBijLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumadorshoBijLandTwenty=sumadorshoBijLandTwenty+twenty[i].adorshoBijLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumadorshoBijLandTwentyOne=sumadorshoBijLandTwentyOne+twentyOne[i].adorshoBijLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumadorshoBijLandTwentyTwo=sumadorshoBijLandTwentyTwo+twentyTwo[i].adorshoBijLand}; %>


                <td>১</td>
                <td>আদর্শ বীজতলায় চারা উৎপাদন</td>
                <td><%=sumadorshoBijUserSeventeen%></td>
                <td><%=sumadorshoBijUserEighteen%></td>
                <td><%=sumadorshoBijUserNineteen%></td>
                <td><%=sumadorshoBijUserTwenty%></td>
                <td><%=sumadorshoBijUserTwentyOne%></td>
                <td><%=sumadorshoBijUserTwentyTwo%></td>
                <td><%=sumadorshoBijLandSeventeen%></td>
                <td><%=sumadorshoBijLandEighteen%></td>
                <td><%=sumadorshoBijLandNineteen%></td>
                <td><%=sumadorshoBijLandTwenty%></td>
                <td><%=sumadorshoBijLandTwentyOne%></td>
                <td><%=sumadorshoBijLandTwentyTwo%></td>
            </tr>
           

            <tr>
                
                <% var sumjoiboSharUserSeventeen=0;%> 
                <% var sumjoiboSharUserEighteen=0;%> 
                <% var sumjoiboSharUserNineteen=0;%> 
                <% var sumjoiboSharUserTwenty=0;%> 
                <% var sumjoiboSharUserTwentyOne=0;%> 
                <% var sumjoiboSharUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumjoiboSharUserSeventeen=sumjoiboSharUserSeventeen+seventeen[i].joiboSharUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumjoiboSharUserEighteen=sumjoiboSharUserEighteen+eighteen[i].joiboSharUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumjoiboSharUserNineteen=sumjoiboSharUserNineteen+nineteen[i].joiboSharUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumjoiboSharUserTwenty=sumjoiboSharUserTwenty+twenty[i].joiboSharUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumjoiboSharUserTwentyOne=sumjoiboSharUserTwentyOne+twentyOne[i].joiboSharUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumjoiboSharUserTwentyTwo=sumjoiboSharUserTwentyTwo+twentyTwo[i].joiboSharUser}; %>

                    <% var sumjoiboSharLandSeventeen=0;%> 
                    <% var sumjoiboSharLandEighteen=0;%> 
                    <% var sumjoiboSharLandNineteen=0;%> 
                    <% var sumjoiboSharLandTwenty=0;%> 
                    <% var sumjoiboSharLandTwentyOne=0;%> 
                    <% var sumjoiboSharLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumjoiboSharLandSeventeen=sumjoiboSharLandSeventeen+seventeen[i].joiboSharLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumjoiboSharLandEighteen=sumjoiboSharLandEighteen+eighteen[i].joiboSharLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumjoiboSharLandNineteen=sumjoiboSharLandNineteen+nineteen[i].joiboSharLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumjoiboSharLandTwenty=sumjoiboSharLandTwenty+twenty[i].joiboSharLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumjoiboSharLandTwentyOne=sumjoiboSharLandTwentyOne+twentyOne[i].joiboSharLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumjoiboSharLandTwentyTwo=sumjoiboSharLandTwentyTwo+twentyTwo[i].joiboSharLand}; %>


                    <td>২</td>
                    <td>জৈব সার ব্যবহার</td>
                <td><%=sumjoiboSharUserSeventeen%></td>
                <td><%=sumjoiboSharUserEighteen%></td>
                <td><%=sumjoiboSharUserNineteen%></td>
                <td><%=sumjoiboSharUserTwenty%></td>
                <td><%=sumjoiboSharUserTwentyOne%></td>
                <td><%=sumjoiboSharUserTwentyTwo%></td>
                <td><%=sumjoiboSharLandSeventeen%></td>
                <td><%=sumjoiboSharLandEighteen%></td>
                <td><%=sumjoiboSharLandNineteen%></td>
                <td><%=sumjoiboSharLandTwenty%></td>
                <td><%=sumjoiboSharLandTwentyOne%></td>
                <td><%=sumjoiboSharLandTwentyTwo%></td>
            </tr>

            

            <tr>
                
                <% var sumcompostSharUserSeventeen=0;%> 
                <% var sumcompostSharUserEighteen=0;%> 
                <% var sumcompostSharUserNineteen=0;%> 
                <% var sumcompostSharUserTwenty=0;%> 
                <% var sumcompostSharUserTwentyOne=0;%> 
                <% var sumcompostSharUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumcompostSharUserSeventeen=sumcompostSharUserSeventeen+seventeen[i].compostSharUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumcompostSharUserEighteen=sumcompostSharUserEighteen+eighteen[i].compostSharUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumcompostSharUserNineteen=sumcompostSharUserNineteen+nineteen[i].compostSharUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumcompostSharUserTwenty=sumcompostSharUserTwenty+twenty[i].compostSharUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumcompostSharUserTwentyOne=sumcompostSharUserTwentyOne+twentyOne[i].compostSharUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumcompostSharUserTwentyTwo=sumcompostSharUserTwentyTwo+twentyTwo[i].compostSharUser}; %>
                    <% var sumcompostSharLandSeventeen=0;%> 
                    <% var sumcompostSharLandEighteen=0;%> 
                    <% var sumcompostSharLandNineteen=0;%> 
                    <% var sumcompostSharLandTwenty=0;%> 
                    <% var sumcompostSharLandTwentyOne=0;%> 
                    <% var sumcompostSharLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumcompostSharLandSeventeen=sumcompostSharLandSeventeen+seventeen[i].compostSharLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumcompostSharLandEighteen=sumcompostSharLandEighteen+eighteen[i].compostSharLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumcompostSharLandNineteen=sumcompostSharLandNineteen+nineteen[i].compostSharLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumcompostSharLandTwenty=sumcompostSharLandTwenty+twenty[i].compostSharLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumcompostSharLandTwentyOne=sumcompostSharLandTwentyOne+twentyOne[i].compostSharLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumcompostSharLandTwentyTwo=sumcompostSharLandTwentyTwo+twentyTwo[i].compostSharLand}; %>


                <td>৩</td>
                <td>কম্পোস্ট সার তৈরি ও ব্যবহার</td>
                <td><%=sumcompostSharUserSeventeen%></td>
                <td><%=sumcompostSharUserEighteen%></td>
                <td><%=sumcompostSharUserNineteen%></td>
                <td><%=sumcompostSharUserTwenty%></td>
                <td><%=sumcompostSharUserTwentyOne%></td>
                <td><%=sumcompostSharUserTwentyTwo%></td>
                <td><%=sumcompostSharLandSeventeen%></td>
                <td><%=sumcompostSharLandEighteen%></td>
                <td><%=sumcompostSharLandNineteen%></td>
                <td><%=sumcompostSharLandTwenty%></td>
                <td><%=sumcompostSharLandTwentyOne%></td>
                <td><%=sumcompostSharLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumvermiCompostUserSeventeen=0;%> 
                <% var sumvermiCompostUserEighteen=0;%> 
                <% var sumvermiCompostUserNineteen=0;%> 
                <% var sumvermiCompostUserTwenty=0;%> 
                <% var sumvermiCompostUserTwentyOne=0;%> 
                <% var sumvermiCompostUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumvermiCompostUserSeventeen=sumvermiCompostUserSeventeen+seventeen[i].vermiCompostUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumvermiCompostUserEighteen=sumvermiCompostUserEighteen+eighteen[i].vermiCompostUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumvermiCompostUserNineteen=sumvermiCompostUserNineteen+nineteen[i].vermiCompostUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumvermiCompostUserTwenty=sumvermiCompostUserTwenty+twenty[i].vermiCompostUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumvermiCompostUserTwentyOne=sumvermiCompostUserTwentyOne+twentyOne[i].vermiCompostUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumvermiCompostUserTwentyTwo=sumvermiCompostUserTwentyTwo+twentyTwo[i].vermiCompostUser}; %>
                    <% var sumvermiCompostLandSeventeen=0;%> 
                    <% var sumvermiCompostLandEighteen=0;%> 
                    <% var sumvermiCompostLandNineteen=0;%> 
                    <% var sumvermiCompostLandTwenty=0;%> 
                    <% var sumvermiCompostLandTwentyOne=0;%> 
                    <% var sumvermiCompostLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumvermiCompostLandSeventeen=sumvermiCompostLandSeventeen+seventeen[i].vermiCompostLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumvermiCompostLandEighteen=sumvermiCompostLandEighteen+eighteen[i].vermiCompostLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumvermiCompostLandNineteen=sumvermiCompostLandNineteen+nineteen[i].vermiCompostLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumvermiCompostLandTwenty=sumvermiCompostLandTwenty+twenty[i].vermiCompostLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumvermiCompostLandTwentyOne=sumvermiCompostLandTwentyOne+twentyOne[i].vermiCompostLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumvermiCompostLandTwentyTwo=sumvermiCompostLandTwentyTwo+twentyTwo[i].vermiCompostLand}; %>


                    <td>৪</td>
                    <td>ভার্মিকম্পোস্ট তৈরি ও ব্যবহার</td>
                <td><%=sumvermiCompostUserSeventeen%></td>
                <td><%=sumvermiCompostUserEighteen%></td>
                <td><%=sumvermiCompostUserNineteen%></td>
                <td><%=sumvermiCompostUserTwenty%></td>
                <td><%=sumvermiCompostUserTwentyOne%></td>
                <td><%=sumvermiCompostUserTwentyTwo%></td>
                <td><%=sumvermiCompostLandSeventeen%></td>
                <td><%=sumvermiCompostLandEighteen%></td>
                <td><%=sumvermiCompostLandNineteen%></td>
                <td><%=sumvermiCompostLandTwenty%></td>
                <td><%=sumvermiCompostLandTwentyOne%></td>
                <td><%=sumvermiCompostLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumkhamarJatUserSeventeen=0;%> 
                <% var sumkhamarJatUserEighteen=0;%> 
                <% var sumkhamarJatUserNineteen=0;%> 
                <% var sumkhamarJatUserTwenty=0;%> 
                <% var sumkhamarJatUserTwentyOne=0;%> 
                <% var sumkhamarJatUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumkhamarJatUserSeventeen=sumkhamarJatUserSeventeen+seventeen[i].khamarJatUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumkhamarJatUserEighteen=sumkhamarJatUserEighteen+eighteen[i].khamarJatUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumkhamarJatUserNineteen=sumkhamarJatUserNineteen+nineteen[i].khamarJatUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumkhamarJatUserTwenty=sumkhamarJatUserTwenty+twenty[i].khamarJatUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumkhamarJatUserTwentyOne=sumkhamarJatUserTwentyOne+twentyOne[i].khamarJatUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumkhamarJatUserTwentyTwo=sumkhamarJatUserTwentyTwo+twentyTwo[i].khamarJatUser}; %>
                    <% var sumkhamarJatLandSeventeen=0;%> 
                    <% var sumkhamarJatLandEighteen=0;%> 
                    <% var sumkhamarJatLandNineteen=0;%> 
                    <% var sumkhamarJatLandTwenty=0;%> 
                    <% var sumkhamarJatLandTwentyOne=0;%> 
                    <% var sumkhamarJatLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumkhamarJatLandSeventeen=sumkhamarJatLandSeventeen+seventeen[i].khamarJatLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumkhamarJatLandEighteen=sumkhamarJatLandEighteen+eighteen[i].khamarJatLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumkhamarJatLandNineteen=sumkhamarJatLandNineteen+nineteen[i].khamarJatLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumkhamarJatLandTwenty=sumkhamarJatLandTwenty+twenty[i].khamarJatLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumkhamarJatLandTwentyOne=sumkhamarJatLandTwentyOne+twentyOne[i].khamarJatLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumkhamarJatLandTwentyTwo=sumkhamarJatLandTwentyTwo+twentyTwo[i].khamarJatLand}; %>


                    <td>৫</td>
                    <td>খামারজাত সার তৈরি ও ব্যবহার</td>
                <td><%=sumkhamarJatUserSeventeen%></td>
                <td><%=sumkhamarJatUserEighteen%></td>
                <td><%=sumkhamarJatUserNineteen%></td>
                <td><%=sumkhamarJatUserTwenty%></td>
                <td><%=sumkhamarJatUserTwentyOne%></td>
                <td><%=sumkhamarJatUserTwentyTwo%></td>
                <td><%=sumkhamarJatLandSeventeen%></td>
                <td><%=sumkhamarJatLandEighteen%></td>
                <td><%=sumkhamarJatLandNineteen%></td>
                <td><%=sumkhamarJatLandTwenty%></td>
                <td><%=sumkhamarJatLandTwentyOne%></td>
                <td><%=sumkhamarJatLandTwentyTwo%></td>
            </tr>


            <tr>
                
                <% var sumshushomoSharUserSeventeen=0;%> 
                <% var sumshushomoSharUserEighteen=0;%> 
                <% var sumshushomoSharUserNineteen=0;%> 
                <% var sumshushomoSharUserTwenty=0;%> 
                <% var sumshushomoSharUserTwentyOne=0;%> 
                <% var sumshushomoSharUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumshushomoSharUserSeventeen=sumshushomoSharUserSeventeen+seventeen[i].shushomoSharUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumshushomoSharUserEighteen=sumshushomoSharUserEighteen+eighteen[i].shushomoSharUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumshushomoSharUserNineteen=sumshushomoSharUserNineteen+nineteen[i].shushomoSharUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumshushomoSharUserTwenty=sumshushomoSharUserTwenty+twenty[i].shushomoSharUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumshushomoSharUserTwentyOne=sumshushomoSharUserTwentyOne+twentyOne[i].shushomoSharUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumshushomoSharUserTwentyTwo=sumshushomoSharUserTwentyTwo+twentyTwo[i].shushomoSharUser}; %>
                    <% var sumshushomoSharLandSeventeen=0;%> 
                    <% var sumshushomoSharLandEighteen=0;%> 
                    <% var sumshushomoSharLandNineteen=0;%> 
                    <% var sumshushomoSharLandTwenty=0;%> 
                    <% var sumshushomoSharLandTwentyOne=0;%> 
                    <% var sumshushomoSharLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumshushomoSharLandSeventeen=sumshushomoSharLandSeventeen+seventeen[i].shushomoSharLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumshushomoSharLandEighteen=sumshushomoSharLandEighteen+eighteen[i].shushomoSharLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumshushomoSharLandNineteen=sumshushomoSharLandNineteen+nineteen[i].shushomoSharLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumshushomoSharLandTwenty=sumshushomoSharLandTwenty+twenty[i].shushomoSharLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumshushomoSharLandTwentyOne=sumshushomoSharLandTwentyOne+twentyOne[i].shushomoSharLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumshushomoSharLandTwentyTwo=sumshushomoSharLandTwentyTwo+twentyTwo[i].shushomoSharLand}; %>


                    <td>৬</td>
                    <td>সুষম সার ব্যবহার</td>
                <td><%=sumshushomoSharUserSeventeen%></td>
                <td><%=sumshushomoSharUserEighteen%></td>
                <td><%=sumshushomoSharUserNineteen%></td>
                <td><%=sumshushomoSharUserTwenty%></td>
                <td><%=sumshushomoSharUserTwentyOne%></td>
                <td><%=sumshushomoSharUserTwentyTwo%></td>
                <td><%=sumshushomoSharLandSeventeen%></td>
                <td><%=sumshushomoSharLandEighteen%></td>
                <td><%=sumshushomoSharLandNineteen%></td>
                <td><%=sumshushomoSharLandTwenty%></td>
                <td><%=sumshushomoSharLandTwentyOne%></td>
                <td><%=sumshushomoSharLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumonlineUserSeventeen=0;%> 
                <% var sumonlineUserEighteen=0;%> 
                <% var sumonlineUserNineteen=0;%> 
                <% var sumonlineUserTwenty=0;%> 
                <% var sumonlineUserTwentyOne=0;%> 
                <% var sumonlineUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumonlineUserSeventeen=sumonlineUserSeventeen+seventeen[i].onlineUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumonlineUserEighteen=sumonlineUserEighteen+eighteen[i].onlineUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumonlineUserNineteen=sumonlineUserNineteen+nineteen[i].onlineUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumonlineUserTwenty=sumonlineUserTwenty+twenty[i].onlineUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumonlineUserTwentyOne=sumonlineUserTwentyOne+twentyOne[i].onlineUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumonlineUserTwentyTwo=sumonlineUserTwentyTwo+twentyTwo[i].onlineUser}; %>
                
                    <% var sumonlineLandnSeventeen=0;%> 
                    <% var sumonlineLandnEighteen=0;%> 
                    <% var sumonlineLandnNineteen=0;%> 
                    <% var sumonlineLandnTwenty=0;%> 
                    <% var sumonlineLandnTwentyOne=0;%> 
                    <% var sumonlineLandnTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumonlineLandnSeventeen=sumonlineLandnSeventeen+seventeen[i].onlineLandn}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumonlineLandnEighteen=sumonlineLandnEighteen+eighteen[i].onlineLandn}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumonlineLandnNineteen=sumonlineLandnNineteen+nineteen[i].onlineLandn}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumonlineLandnTwenty=sumonlineLandnTwenty+twenty[i].onlineLandn}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumonlineLandnTwentyOne=sumonlineLandnTwentyOne+twentyOne[i].onlineLandn}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumonlineLandnTwentyTwo=sumonlineLandnTwentyTwo+twentyTwo[i].onlineLandn}; %>


                    <td>৭</td>
                    <td>অনলাইন এসারডিয়াই সার সুপারিশ</td>
                <td><%=sumonlineUserSeventeen%></td>
                <td><%=sumonlineUserEighteen%></td>
                <td><%=sumonlineUserNineteen%></td>
                <td><%=sumonlineUserTwenty%></td>
                <td><%=sumonlineUserTwentyOne%></td>
                <td><%=sumonlineUserTwentyTwo%></td>
                <td><%=sumonlineLandnSeventeen%></td>
                <td><%=sumonlineLandnEighteen%></td>
                <td><%=sumonlineLandnNineteen%></td>
                <td><%=sumonlineLandnTwenty%></td>
                <td><%=sumonlineLandnTwentyOne%></td>
                <td><%=sumonlineLandnTwentyTwo%></td>
            </tr>


            <tr>
                
                <% var sumayilUserSeventeen=0;%> 
                <% var sumayilUserEighteen=0;%> 
                <% var sumayilUserNineteen=0;%> 
                <% var sumayilUserTwenty=0;%> 
                <% var sumayilUserTwentyOne=0;%> 
                <% var sumayilUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumayilUserSeventeen=sumayilUserSeventeen+seventeen[i].ayilUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumayilUserEighteen=sumayilUserEighteen+eighteen[i].ayilUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumayilUserNineteen=sumayilUserNineteen+nineteen[i].ayilUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumayilUserTwenty=sumayilUserTwenty+twenty[i].ayilUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumayilUserTwentyOne=sumayilUserTwentyOne+twentyOne[i].ayilUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumayilUserTwentyTwo=sumayilUserTwentyTwo+twentyTwo[i].ayilUser}; %>
                    <% var sumayilLandSeventeen=0;%> 
                    <% var sumayilLandEighteen=0;%> 
                    <% var sumayilLandNineteen=0;%> 
                    <% var sumayilLandTwenty=0;%> 
                    <% var sumayilLandTwentyOne=0;%> 
                    <% var sumayilLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumayilLandSeventeen=sumayilLandSeventeen+seventeen[i].ayilLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumayilLandEighteen=sumayilLandEighteen+eighteen[i].ayilLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumayilLandNineteen=sumayilLandNineteen+nineteen[i].ayilLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumayilLandTwenty=sumayilLandTwenty+twenty[i].ayilLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumayilLandTwentyOne=sumayilLandTwentyOne+twentyOne[i].ayilLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumayilLandTwentyTwo=sumayilLandTwentyTwo+twentyTwo[i].ayilLand}; %>


                    <td>৮</td>
                    <td>আইলে সবজি চাষ</td>
                <td><%=sumayilUserSeventeen%></td>
                <td><%=sumayilUserEighteen%></td>
                <td><%=sumayilUserNineteen%></td>
                <td><%=sumayilUserTwenty%></td>
                <td><%=sumayilUserTwentyOne%></td>
                <td><%=sumayilUserTwentyTwo%></td>
                <td><%=sumayilLandSeventeen%></td>
                <td><%=sumayilLandEighteen%></td>
                <td><%=sumayilLandNineteen%></td>
                <td><%=sumayilLandTwenty%></td>
                <td><%=sumayilLandTwentyOne%></td>
                <td><%=sumayilLandTwentyTwo%></td>
            </tr>


            <tr>
                
                <% var sumrastaMachaUserSeventeen=0;%> 
                <% var sumrastaMachaUserEighteen=0;%> 
                <% var sumrastaMachaUserNineteen=0;%> 
                <% var sumrastaMachaUserTwenty=0;%> 
                <% var sumrastaMachaUserTwentyOne=0;%> 
                <% var sumrastaMachaUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumrastaMachaUserSeventeen=sumrastaMachaUserSeventeen+seventeen[i].rastaMachaUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumrastaMachaUserEighteen=sumrastaMachaUserEighteen+eighteen[i].rastaMachaUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumrastaMachaUserNineteen=sumrastaMachaUserNineteen+nineteen[i].rastaMachaUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumrastaMachaUserTwenty=sumrastaMachaUserTwenty+twenty[i].rastaMachaUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumrastaMachaUserTwentyOne=sumrastaMachaUserTwentyOne+twentyOne[i].rastaMachaUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumrastaMachaUserTwentyTwo=sumrastaMachaUserTwentyTwo+twentyTwo[i].rastaMachaUser}; %>
                    <% var sumrastaMachaLandSeventeen=0;%> 
                    <% var sumrastaMachaLandEighteen=0;%> 
                    <% var sumrastaMachaLandNineteen=0;%> 
                    <% var sumrastaMachaLandTwenty=0;%> 
                    <% var sumrastaMachaLandTwentyOne=0;%> 
                    <% var sumrastaMachaLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumrastaMachaLandSeventeen=sumrastaMachaLandSeventeen+seventeen[i].rastaMachaLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumrastaMachaLandEighteen=sumrastaMachaLandEighteen+eighteen[i].rastaMachaLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumrastaMachaLandNineteen=sumrastaMachaLandNineteen+nineteen[i].rastaMachaLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumrastaMachaLandTwenty=sumrastaMachaLandTwenty+twenty[i].rastaMachaLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumrastaMachaLandTwentyOne=sumrastaMachaLandTwentyOne+twentyOne[i].rastaMachaLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumrastaMachaLandTwentyTwo=sumrastaMachaLandTwentyTwo+twentyTwo[i].rastaMachaLand}; %>


                    <td>৯</td>
                    <td>রাস্তার ঢালে মাচার সবজি চাষ</td>
                <td><%=sumrastaMachaUserSeventeen%></td>
                <td><%=sumrastaMachaUserEighteen%></td>
                <td><%=sumrastaMachaUserNineteen%></td>
                <td><%=sumrastaMachaUserTwenty%></td>
                <td><%=sumrastaMachaUserTwentyOne%></td>
                <td><%=sumrastaMachaUserTwentyTwo%></td>
                <td><%=sumrastaMachaLandSeventeen%></td>
                <td><%=sumrastaMachaLandEighteen%></td>
                <td><%=sumrastaMachaLandNineteen%></td>
                <td><%=sumrastaMachaLandTwenty%></td>
                <td><%=sumrastaMachaLandTwentyOne%></td>
                <td><%=sumrastaMachaLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumbostaUserSeventeen=0;%> 
                <% var sumbostaUserEighteen=0;%> 
                <% var sumbostaUserNineteen=0;%> 
                <% var sumbostaUserTwenty=0;%> 
                <% var sumbostaUserTwentyOne=0;%> 
                <% var sumbostaUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumbostaUserSeventeen=sumbostaUserSeventeen+seventeen[i].bostaUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumbostaUserEighteen=sumbostaUserEighteen+eighteen[i].bostaUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumbostaUserNineteen=sumbostaUserNineteen+nineteen[i].bostaUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumbostaUserTwenty=sumbostaUserTwenty+twenty[i].bostaUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumbostaUserTwentyOne=sumbostaUserTwentyOne+twentyOne[i].bostaUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumbostaUserTwentyTwo=sumbostaUserTwentyTwo+twentyTwo[i].bostaUser}; %>
                    <% var sumbostaLandSeventeen=0;%> 
                    <% var sumbostaLandEighteen=0;%> 
                    <% var sumbostaLandNineteen=0;%> 
                    <% var sumbostaLandTwenty=0;%> 
                    <% var sumbostaLandTwentyOne=0;%> 
                    <% var sumbostaLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumbostaLandSeventeen=sumbostaLandSeventeen+seventeen[i].bostaLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumbostaLandEighteen=sumbostaLandEighteen+eighteen[i].bostaLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumbostaLandNineteen=sumbostaLandNineteen+nineteen[i].bostaLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumbostaLandTwenty=sumbostaLandTwenty+twenty[i].bostaLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumbostaLandTwentyOne=sumbostaLandTwentyOne+twentyOne[i].bostaLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumbostaLandTwentyTwo=sumbostaLandTwentyTwo+twentyTwo[i].bostaLand}; %>
    

                    <td>১০</td>
                    <td>ঢিবি/বস্তা পদ্ধতিতে সবজি চাষ</td>
                <td><%=sumbostaUserSeventeen%></td>
                <td><%=sumbostaUserEighteen%></td>
                <td><%=sumbostaUserNineteen%></td>
                <td><%=sumbostaUserTwenty%></td>
                <td><%=sumbostaUserTwentyOne%></td>
                <td><%=sumbostaUserTwentyTwo%></td>
                <td><%=sumbostaLandSeventeen%></td>
                <td><%=sumbostaLandEighteen%></td>
                <td><%=sumbostaLandNineteen%></td>
                <td><%=sumbostaLandTwenty%></td>
                <td><%=sumbostaLandTwentyOne%></td>
                <td><%=sumbostaLandTwentyTwo%></td>
            </tr>


            <tr>
                
                <% var sumpukurMachaUserSeventeen=0;%> 
                <% var sumpukurMachaUserEighteen=0;%> 
                <% var sumpukurMachaUserNineteen=0;%> 
                <% var sumpukurMachaUserTwenty=0;%> 
                <% var sumpukurMachaUserTwentyOne=0;%> 
                <% var sumpukurMachaUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumpukurMachaUserSeventeen=sumpukurMachaUserSeventeen+seventeen[i].pukurMachaUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumpukurMachaUserEighteen=sumpukurMachaUserEighteen+eighteen[i].pukurMachaUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumpukurMachaUserNineteen=sumpukurMachaUserNineteen+nineteen[i].pukurMachaUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumpukurMachaUserTwenty=sumpukurMachaUserTwenty+twenty[i].pukurMachaUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumpukurMachaUserTwentyOne=sumpukurMachaUserTwentyOne+twentyOne[i].pukurMachaUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumpukurMachaUserTwentyTwo=sumpukurMachaUserTwentyTwo+twentyTwo[i].pukurMachaUser}; %>
                    <% var sumpukurMachaLandSeventeen=0;%> 
                    <% var sumpukurMachaLandEighteen=0;%> 
                    <% var sumpukurMachaLandNineteen=0;%> 
                    <% var sumpukurMachaLandTwenty=0;%> 
                    <% var sumpukurMachaLandTwentyOne=0;%> 
                    <% var sumpukurMachaLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumpukurMachaLandSeventeen=sumpukurMachaLandSeventeen+seventeen[i].pukurMachaLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumpukurMachaLandEighteen=sumpukurMachaLandEighteen+eighteen[i].pukurMachaLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumpukurMachaLandNineteen=sumpukurMachaLandNineteen+nineteen[i].pukurMachaLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumpukurMachaLandTwenty=sumpukurMachaLandTwenty+twenty[i].pukurMachaLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumpukurMachaLandTwentyOne=sumpukurMachaLandTwentyOne+twentyOne[i].pukurMachaLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumpukurMachaLandTwentyTwo=sumpukurMachaLandTwentyTwo+twentyTwo[i].pukurMachaLand}; %>

                    <td>১১</td>
                    <td>পুকুর বা জলাশয়ের পাশে মাচায় সবজি চাষ</td>
                <td><%=sumpukurMachaUserSeventeen%></td>
                <td><%=sumpukurMachaUserEighteen%></td>
                <td><%=sumpukurMachaUserNineteen%></td>
                <td><%=sumpukurMachaUserTwenty%></td>
                <td><%=sumpukurMachaUserTwentyOne%></td>
                <td><%=sumpukurMachaUserTwentyTwo%></td>
                <td><%=sumpukurMachaLandSeventeen%></td>
                <td><%=sumpukurMachaLandEighteen%></td>
                <td><%=sumpukurMachaLandNineteen%></td>
                <td><%=sumpukurMachaLandTwenty%></td>
                <td><%=sumpukurMachaLandTwentyOne%></td>
                <td><%=sumpukurMachaLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumshorjanUserSeventeen=0;%> 
                <% var sumshorjanUserEighteen=0;%> 
                <% var sumshorjanUserNineteen=0;%> 
                <% var sumshorjanUserTwenty=0;%> 
                <% var sumshorjanUserTwentyOne=0;%> 
                <% var sumshorjanUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumshorjanUserSeventeen=sumshorjanUserSeventeen+seventeen[i].shorjanUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumshorjanUserEighteen=sumshorjanUserEighteen+eighteen[i].shorjanUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumshorjanUserNineteen=sumshorjanUserNineteen+nineteen[i].shorjanUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumshorjanUserTwenty=sumshorjanUserTwenty+twenty[i].shorjanUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumshorjanUserTwentyOne=sumshorjanUserTwentyOne+twentyOne[i].shorjanUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumshorjanUserTwentyTwo=sumshorjanUserTwentyTwo+twentyTwo[i].shorjanUser}; %>
                    <% var sumshorjanLandSeventeen=0;%> 
                    <% var sumshorjanLandEighteen=0;%> 
                    <% var sumshorjanLandNineteen=0;%> 
                    <% var sumshorjanLandTwenty=0;%> 
                    <% var sumshorjanLandTwentyOne=0;%> 
                    <% var sumshorjanLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumshorjanLandSeventeen=sumshorjanLandSeventeen+seventeen[i].shorjanLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumshorjanLandEighteen=sumshorjanLandEighteen+eighteen[i].shorjanLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumshorjanLandNineteen=sumshorjanLandNineteen+nineteen[i].shorjanLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumshorjanLandTwenty=sumshorjanLandTwenty+twenty[i].shorjanLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumshorjanLandTwentyOne=sumshorjanLandTwentyOne+twentyOne[i].shorjanLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumshorjanLandTwentyTwo=sumshorjanLandTwentyTwo+twentyTwo[i].shorjanLand}; %>
    

                    <td>১২</td>
                    <td>সর্জান পদ্ধতিতে সবজি চাষ</td>
                <td><%=sumshorjanUserSeventeen%></td>
                <td><%=sumshorjanUserEighteen%></td>
                <td><%=sumshorjanUserNineteen%></td>
                <td><%=sumshorjanUserTwenty%></td>
                <td><%=sumshorjanUserTwentyOne%></td>
                <td><%=sumshorjanUserTwentyTwo%></td>
                <td><%=sumshorjanLandSeventeen%></td>
                <td><%=sumshorjanLandEighteen%></td>
                <td><%=sumshorjanLandNineteen%></td>
                <td><%=sumshorjanLandTwenty%></td>
                <td><%=sumshorjanLandTwentyOne%></td>
                <td><%=sumshorjanLandTwentyTwo%></td>
            </tr>


            <tr>
                
                <% var sumvashomanUserSeventeen=0;%> 
                <% var sumvashomanUserEighteen=0;%> 
                <% var sumvashomanUserNineteen=0;%> 
                <% var sumvashomanUserTwenty=0;%> 
                <% var sumvashomanUserTwentyOne=0;%> 
                <% var sumvashomanUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumvashomanUserSeventeen=sumvashomanUserSeventeen+seventeen[i].vashomanUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumvashomanUserEighteen=sumvashomanUserEighteen+eighteen[i].vashomanUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumvashomanUserNineteen=sumvashomanUserNineteen+nineteen[i].vashomanUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumvashomanUserTwenty=sumvashomanUserTwenty+twenty[i].vashomanUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumvashomanUserTwentyOne=sumvashomanUserTwentyOne+twentyOne[i].vashomanUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumvashomanUserTwentyTwo=sumvashomanUserTwentyTwo+twentyTwo[i].vashomanUser}; %>
                
                    <% var sumvashomanLandSeventeen=0;%> 
                    <% var sumvashomanLandEighteen=0;%> 
                    <% var sumvashomanLandNineteen=0;%> 
                    <% var sumvashomanLandTwenty=0;%> 
                    <% var sumvashomanLandTwentyOne=0;%> 
                    <% var sumvashomanLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumvashomanLandSeventeen=sumvashomanLandSeventeen+seventeen[i].vashomanLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumvashomanLandEighteen=sumvashomanLandEighteen+eighteen[i].vashomanLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumvashomanLandNineteen=sumvashomanLandNineteen+nineteen[i].vashomanLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumvashomanLandTwenty=sumvashomanLandTwenty+twenty[i].vashomanLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumvashomanLandTwentyOne=sumvashomanLandTwentyOne+twentyOne[i].vashomanLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumvashomanLandTwentyTwo=sumvashomanLandTwentyTwo+twentyTwo[i].vashomanLand}; %>

                        <td>১৩</td>
                        <td>ভাসমান বেডে সবজি চাষ</td>
                <td><%=sumvashomanUserSeventeen%></td>
                <td><%=sumvashomanUserEighteen%></td>
                <td><%=sumvashomanUserNineteen%></td>
                <td><%=sumvashomanUserTwenty%></td>
                <td><%=sumvashomanUserTwentyOne%></td>
                <td><%=sumvashomanUserTwentyTwo%></td>
                <td><%=sumvashomanLandSeventeen%></td>
                <td><%=sumvashomanLandEighteen%></td>
                <td><%=sumvashomanLandNineteen%></td>
                <td><%=sumvashomanLandTwenty%></td>
                <td><%=sumvashomanLandTwentyOne%></td>
                <td><%=sumvashomanLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumbinaShobjiUserSeventeen=0;%> 
                <% var sumbinaShobjiUserEighteen=0;%> 
                <% var sumbinaShobjiUserNineteen=0;%> 
                <% var sumbinaShobjiUserTwenty=0;%> 
                <% var sumbinaShobjiUserTwentyOne=0;%> 
                <% var sumbinaShobjiUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumbinaShobjiUserSeventeen=sumbinaShobjiUserSeventeen+seventeen[i].binaShobjiUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumbinaShobjiUserEighteen=sumbinaShobjiUserEighteen+eighteen[i].binaShobjiUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumbinaShobjiUserNineteen=sumbinaShobjiUserNineteen+nineteen[i].binaShobjiUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumbinaShobjiUserTwenty=sumbinaShobjiUserTwenty+twenty[i].binaShobjiUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumbinaShobjiUserTwentyOne=sumbinaShobjiUserTwentyOne+twentyOne[i].binaShobjiUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumbinaShobjiUserTwentyTwo=sumbinaShobjiUserTwentyTwo+twentyTwo[i].binaShobjiUser}; %>
                    <% var sumbinaShobjiLandSeventeen=0;%> 
                    <% var sumbinaShobjiLandEighteen=0;%> 
                    <% var sumbinaShobjiLandNineteen=0;%> 
                    <% var sumbinaShobjiLandTwenty=0;%> 
                    <% var sumbinaShobjiLandTwentyOne=0;%> 
                    <% var sumbinaShobjiLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumbinaShobjiLandSeventeen=sumbinaShobjiLandSeventeen+seventeen[i].binaShobjiLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumbinaShobjiLandEighteen=sumbinaShobjiLandEighteen+eighteen[i].binaShobjiLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumbinaShobjiLandNineteen=sumbinaShobjiLandNineteen+nineteen[i].binaShobjiLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumbinaShobjiLandTwenty=sumbinaShobjiLandTwenty+twenty[i].binaShobjiLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumbinaShobjiLandTwentyOne=sumbinaShobjiLandTwentyOne+twentyOne[i].binaShobjiLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumbinaShobjiLandTwentyTwo=sumbinaShobjiLandTwentyTwo+twentyTwo[i].binaShobjiLand}; %>
    

                        <td>১৪</td>
                        <td>বিনা চাষে সবজি চাষ</td>
                <td><%=sumbinaShobjiUserSeventeen%></td>
                <td><%=sumbinaShobjiUserEighteen%></td>
                <td><%=sumbinaShobjiUserNineteen%></td>
                <td><%=sumbinaShobjiUserTwenty%></td>
                <td><%=sumbinaShobjiUserTwentyOne%></td>
                <td><%=sumbinaShobjiUserTwentyTwo%></td>
                <td><%=sumbinaShobjiLandSeventeen%></td>
                <td><%=sumbinaShobjiLandEighteen%></td>
                <td><%=sumbinaShobjiLandNineteen%></td>
                <td><%=sumbinaShobjiLandTwenty%></td>
                <td><%=sumbinaShobjiLandTwentyOne%></td>
                <td><%=sumbinaShobjiLandTwentyTwo%></td>
            </tr>


            <tr>
                
                <% var sumbinaRoshunUserSeventeen=0;%> 
                <% var sumbinaRoshunUserEighteen=0;%> 
                <% var sumbinaRoshunUserNineteen=0;%> 
                <% var sumbinaRoshunUserTwenty=0;%> 
                <% var sumbinaRoshunUserTwentyOne=0;%> 
                <% var sumbinaRoshunUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumbinaRoshunUserSeventeen=sumbinaRoshunUserSeventeen+seventeen[i].binaRoshunUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumbinaRoshunUserEighteen=sumbinaRoshunUserEighteen+eighteen[i].binaRoshunUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumbinaRoshunUserNineteen=sumbinaRoshunUserNineteen+nineteen[i].binaRoshunUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumbinaRoshunUserTwenty=sumbinaRoshunUserTwenty+twenty[i].binaRoshunUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumbinaRoshunUserTwentyOne=sumbinaRoshunUserTwentyOne+twentyOne[i].binaRoshunUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumbinaRoshunUserTwentyTwo=sumbinaRoshunUserTwentyTwo+twentyTwo[i].binaRoshunUser}; %>
                    <% var sumbinaRoshunLandSeventeen=0;%> 
                    <% var sumbinaRoshunLandEighteen=0;%> 
                    <% var sumbinaRoshunLandNineteen=0;%> 
                    <% var sumbinaRoshunLandTwenty=0;%> 
                    <% var sumbinaRoshunLandTwentyOne=0;%> 
                    <% var sumbinaRoshunLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumbinaRoshunLandSeventeen=sumbinaRoshunLandSeventeen+seventeen[i].binaRoshunLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumbinaRoshunLandEighteen=sumbinaRoshunLandEighteen+eighteen[i].binaRoshunLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumbinaRoshunLandNineteen=sumbinaRoshunLandNineteen+nineteen[i].binaRoshunLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumbinaRoshunLandTwenty=sumbinaRoshunLandTwenty+twenty[i].binaRoshunLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumbinaRoshunLandTwentyOne=sumbinaRoshunLandTwentyOne+twentyOne[i].binaRoshunLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumbinaRoshunLandTwentyTwo=sumbinaRoshunLandTwentyTwo+twentyTwo[i].binaRoshunLand}; %>
    
                        <td>১৫</td>
                        <td>বিনা চাষে রসুন চাষ</td>
                <td><%=sumbinaRoshunUserSeventeen%></td>
                <td><%=sumbinaRoshunUserEighteen%></td>
                <td><%=sumbinaRoshunUserNineteen%></td>
                <td><%=sumbinaRoshunUserTwenty%></td>
                <td><%=sumbinaRoshunUserTwentyOne%></td>
                <td><%=sumbinaRoshunUserTwentyTwo%></td>
                <td><%=sumbinaRoshunLandSeventeen%></td>
                <td><%=sumbinaRoshunLandEighteen%></td>
                <td><%=sumbinaRoshunLandNineteen%></td>
                <td><%=sumbinaRoshunLandTwenty%></td>
                <td><%=sumbinaRoshunLandTwentyOne%></td>
                <td><%=sumbinaRoshunLandTwentyTwo%></td>
            </tr>


            <tr>
                
                <% var sumbinaAluUserSeventeen=0;%> 
                <% var sumbinaAluUserEighteen=0;%> 
                <% var sumbinaAluUserNineteen=0;%> 
                <% var sumbinaAluUserTwenty=0;%> 
                <% var sumbinaAluUserTwentyOne=0;%> 
                <% var sumbinaAluUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumbinaAluUserSeventeen=sumbinaAluUserSeventeen+seventeen[i].binaAluUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumbinaAluUserEighteen=sumbinaAluUserEighteen+eighteen[i].binaAluUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumbinaAluUserNineteen=sumbinaAluUserNineteen+nineteen[i].binaAluUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumbinaAluUserTwenty=sumbinaAluUserTwenty+twenty[i].binaAluUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumbinaAluUserTwentyOne=sumbinaAluUserTwentyOne+twentyOne[i].binaAluUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumbinaAluUserTwentyTwo=sumbinaAluUserTwentyTwo+twentyTwo[i].binaAluUser}; %>
                    <% var sumbinaAluLandSeventeen=0;%> 
                    <% var sumbinaAluLandEighteen=0;%> 
                    <% var sumbinaAluLandNineteen=0;%> 
                    <% var sumbinaAluLandTwenty=0;%> 
                    <% var sumbinaAluLandTwentyOne=0;%> 
                    <% var sumbinaAluLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumbinaAluLandSeventeen=sumbinaAluLandSeventeen+seventeen[i].binaAluLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumbinaAluLandEighteen=sumbinaAluLandEighteen+eighteen[i].binaAluLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumbinaAluLandNineteen=sumbinaAluLandNineteen+nineteen[i].binaAluLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumbinaAluLandTwenty=sumbinaAluLandTwenty+twenty[i].binaAluLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumbinaAluLandTwentyOne=sumbinaAluLandTwentyOne+twentyOne[i].binaAluLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumbinaAluLandTwentyTwo=sumbinaAluLandTwentyTwo+twentyTwo[i].binaAluLand}; %>
    

                        <td>১৬</td>
                        <td>বিনা চাষে আলু চাষ</td>
                <td><%=sumbinaAluUserSeventeen%></td>
                <td><%=sumbinaAluUserEighteen%></td>
                <td><%=sumbinaAluUserNineteen%></td>
                <td><%=sumbinaAluUserTwenty%></td>
                <td><%=sumbinaAluUserTwentyOne%></td>
                <td><%=sumbinaAluUserTwentyTwo%></td>
                <td><%=sumbinaAluLandSeventeen%></td>
                <td><%=sumbinaAluLandEighteen%></td>
                <td><%=sumbinaAluLandNineteen%></td>
                <td><%=sumbinaAluLandTwenty%></td>
                <td><%=sumbinaAluLandTwentyOne%></td>
                <td><%=sumbinaAluLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumbinaShorishaUserSeventeen=0;%> 
                <% var sumbinaShorishaUserEighteen=0;%> 
                <% var sumbinaShorishaUserNineteen=0;%> 
                <% var sumbinaShorishaUserTwenty=0;%> 
                <% var sumbinaShorishaUserTwentyOne=0;%> 
                <% var sumbinaShorishaUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumbinaShorishaUserSeventeen=sumbinaShorishaUserSeventeen+seventeen[i].binaShorishaUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumbinaShorishaUserEighteen=sumbinaShorishaUserEighteen+eighteen[i].binaShorishaUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumbinaShorishaUserNineteen=sumbinaShorishaUserNineteen+nineteen[i].binaShorishaUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumbinaShorishaUserTwenty=sumbinaShorishaUserTwenty+twenty[i].binaShorishaUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumbinaShorishaUserTwentyOne=sumbinaShorishaUserTwentyOne+twentyOne[i].binaShorishaUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumbinaShorishaUserTwentyTwo=sumbinaShorishaUserTwentyTwo+twentyTwo[i].binaShorishaUser}; %>
                    <% var sumbinaShorishaLandSeventeen=0;%> 
                    <% var sumbinaShorishaLandEighteen=0;%> 
                    <% var sumbinaShorishaLandNineteen=0;%> 
                    <% var sumbinaShorishaLandTwenty=0;%> 
                    <% var sumbinaShorishaLandTwentyOne=0;%> 
                    <% var sumbinaShorishaLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumbinaShorishaLandSeventeen=sumbinaShorishaLandSeventeen+seventeen[i].binaShorishaLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumbinaShorishaLandEighteen=sumbinaShorishaLandEighteen+eighteen[i].binaShorishaLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumbinaShorishaLandNineteen=sumbinaShorishaLandNineteen+nineteen[i].binaShorishaLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumbinaShorishaLandTwenty=sumbinaShorishaLandTwenty+twenty[i].binaShorishaLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumbinaShorishaLandTwentyOne=sumbinaShorishaLandTwentyOne+twentyOne[i].binaShorishaLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumbinaShorishaLandTwentyTwo=sumbinaShorishaLandTwentyTwo+twentyTwo[i].binaShorishaLand}; %>


                        <td>১৭</td>
                        <td>বিনা চাষে সরিষা চাষ</td>
                <td><%=sumbinaShorishaUserSeventeen%></td>
                <td><%=sumbinaShorishaUserEighteen%></td>
                <td><%=sumbinaShorishaUserNineteen%></td>
                <td><%=sumbinaShorishaUserTwenty%></td>
                <td><%=sumbinaShorishaUserTwentyOne%></td>
                <td><%=sumbinaShorishaUserTwentyTwo%></td>
                <td><%=sumbinaShorishaLandSeventeen%></td>
                <td><%=sumbinaShorishaLandEighteen%></td>
                <td><%=sumbinaShorishaLandNineteen%></td>
                <td><%=sumbinaShorishaLandTwenty%></td>
                <td><%=sumbinaShorishaLandTwentyOne%></td>
                <td><%=sumbinaShorishaLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumalokFaadUserSeventeen=0;%> 
                <% var sumalokFaadUserEighteen=0;%> 
                <% var sumalokFaadUserNineteen=0;%> 
                <% var sumalokFaadUserTwenty=0;%> 
                <% var sumalokFaadUserTwentyOne=0;%> 
                <% var sumalokFaadUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumalokFaadUserSeventeen=sumalokFaadUserSeventeen+seventeen[i].alokFaadUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumalokFaadUserEighteen=sumalokFaadUserEighteen+eighteen[i].alokFaadUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumalokFaadUserNineteen=sumalokFaadUserNineteen+nineteen[i].alokFaadUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumalokFaadUserTwenty=sumalokFaadUserTwenty+twenty[i].alokFaadUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumalokFaadUserTwentyOne=sumalokFaadUserTwentyOne+twentyOne[i].alokFaadUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumalokFaadUserTwentyTwo=sumalokFaadUserTwentyTwo+twentyTwo[i].alokFaadUser}; %>
                
                    <% var sumalokFaadLandSeventeen=0;%> 
                    <% var sumalokFaadLandEighteen=0;%> 
                    <% var sumalokFaadLandNineteen=0;%> 
                    <% var sumalokFaadLandTwenty=0;%> 
                    <% var sumalokFaadLandTwentyOne=0;%> 
                    <% var sumalokFaadLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumalokFaadLandSeventeen=sumalokFaadLandSeventeen+seventeen[i].alokFaadLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumalokFaadLandEighteen=sumalokFaadLandEighteen+eighteen[i].alokFaadLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumalokFaadLandNineteen=sumalokFaadLandNineteen+nineteen[i].alokFaadLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumalokFaadLandTwenty=sumalokFaadLandTwenty+twenty[i].alokFaadLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumalokFaadLandTwentyOne=sumalokFaadLandTwentyOne+twentyOne[i].alokFaadLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumalokFaadLandTwentyTwo=sumalokFaadLandTwentyTwo+twentyTwo[i].alokFaadLand}; %>

                        <td>১৮</td>
                        <td>আলোক ফাঁদ ব্যবহার</td>
                <td><%=sumalokFaadUserSeventeen%></td>
                <td><%=sumalokFaadUserEighteen%></td>
                <td><%=sumalokFaadUserNineteen%></td>
                <td><%=sumalokFaadUserTwenty%></td>
                <td><%=sumalokFaadUserTwentyOne%></td>
                <td><%=sumalokFaadUserTwentyTwo%></td>
                <td><%=sumalokFaadLandSeventeen%></td>
                <td><%=sumalokFaadLandEighteen%></td>
                <td><%=sumalokFaadLandNineteen%></td>
                <td><%=sumalokFaadLandTwenty%></td>
                <td><%=sumalokFaadLandTwentyOne%></td>
                <td><%=sumalokFaadLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumferomanUserSeventeen=0;%> 
                <% var sumferomanUserEighteen=0;%> 
                <% var sumferomanUserNineteen=0;%> 
                <% var sumferomanUserTwenty=0;%> 
                <% var sumferomanUserTwentyOne=0;%> 
                <% var sumferomanUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumferomanUserSeventeen=sumferomanUserSeventeen+seventeen[i].feromanUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumferomanUserEighteen=sumferomanUserEighteen+eighteen[i].feromanUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumferomanUserNineteen=sumferomanUserNineteen+nineteen[i].feromanUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumferomanUserTwenty=sumferomanUserTwenty+twenty[i].feromanUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumferomanUserTwentyOne=sumferomanUserTwentyOne+twentyOne[i].feromanUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumferomanUserTwentyTwo=sumferomanUserTwentyTwo+twentyTwo[i].feromanUser}; %>
                
                    <% var sumferomanLandSeventeen=0;%> 
                    <% var sumferomanLandEighteen=0;%> 
                    <% var sumferomanLandNineteen=0;%> 
                    <% var sumferomanLandTwenty=0;%> 
                    <% var sumferomanLandTwentyOne=0;%> 
                    <% var sumferomanLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumferomanLandSeventeen=sumferomanLandSeventeen+seventeen[i].feromanLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumferomanLandEighteen=sumferomanLandEighteen+eighteen[i].feromanLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumferomanLandNineteen=sumferomanLandNineteen+nineteen[i].feromanLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumferomanLandTwenty=sumferomanLandTwenty+twenty[i].feromanLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumferomanLandTwentyOne=sumferomanLandTwentyOne+twentyOne[i].feromanLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumferomanLandTwentyTwo=sumferomanLandTwentyTwo+twentyTwo[i].feromanLand}; %>


                        <td>১৯</td>
                        <td>ফেরোমান ফাঁদ ব্যবহার</td>
                <td><%=sumferomanUserSeventeen%></td>
                <td><%=sumferomanUserEighteen%></td>
                <td><%=sumferomanUserNineteen%></td>
                <td><%=sumferomanUserTwenty%></td>
                <td><%=sumferomanUserTwentyOne%></td>
                <td><%=sumferomanUserTwentyTwo%></td>
                <td><%=sumferomanLandSeventeen%></td>
                <td><%=sumferomanLandEighteen%></td>
                <td><%=sumferomanLandNineteen%></td>
                <td><%=sumferomanLandTwenty%></td>
                <td><%=sumferomanLandTwentyOne%></td>
                <td><%=sumferomanLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumbishtopUserSeventeen=0;%> 
                <% var sumbishtopUserEighteen=0;%> 
                <% var sumbishtopUserNineteen=0;%> 
                <% var sumbishtopUserTwenty=0;%> 
                <% var sumbishtopUserTwentyOne=0;%> 
                <% var sumbishtopUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumbishtopUserSeventeen=sumbishtopUserSeventeen+seventeen[i].bishtopUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumbishtopUserEighteen=sumbishtopUserEighteen+eighteen[i].bishtopUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumbishtopUserNineteen=sumbishtopUserNineteen+nineteen[i].bishtopUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumbishtopUserTwenty=sumbishtopUserTwenty+twenty[i].bishtopUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumbishtopUserTwentyOne=sumbishtopUserTwentyOne+twentyOne[i].bishtopUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumbishtopUserTwentyTwo=sumbishtopUserTwentyTwo+twentyTwo[i].bishtopUser}; %>
                    <% var sumbishtopLandSeventeen=0;%> 
                <% var sumbishtopLandEighteen=0;%> 
                <% var sumbishtopLandNineteen=0;%> 
                <% var sumbishtopLandTwenty=0;%> 
                <% var sumbishtopLandTwentyOne=0;%> 
                <% var sumbishtopLandTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumbishtopLandSeventeen=sumbishtopLandSeventeen+seventeen[i].bishtopLand}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumbishtopLandEighteen=sumbishtopLandEighteen+eighteen[i].bishtopLand}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumbishtopLandNineteen=sumbishtopLandNineteen+nineteen[i].bishtopLand}; %>
                <% for(var i=0;i<twenty.length;i++){ sumbishtopLandTwenty=sumbishtopLandTwenty+twenty[i].bishtopLand}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumbishtopLandTwentyOne=sumbishtopLandTwentyOne+twentyOne[i].bishtopLand}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumbishtopLandTwentyTwo=sumbishtopLandTwentyTwo+twentyTwo[i].bishtopLand}; %>

                    <td>২০</td>
                    <td>বিষটোপ ফাঁদ ব্যবহার</td>
                <td><%=sumbishtopUserSeventeen%></td>
                <td><%=sumbishtopUserEighteen%></td>
                <td><%=sumbishtopUserNineteen%></td>
                <td><%=sumbishtopUserTwenty%></td>
                <td><%=sumbishtopUserTwentyOne%></td>
                <td><%=sumbishtopUserTwentyTwo%></td>
                <td><%=sumbishtopLandSeventeen%></td>
                <td><%=sumbishtopLandEighteen%></td>
                <td><%=sumbishtopLandNineteen%></td>
                <td><%=sumbishtopLandTwenty%></td>
                <td><%=sumbishtopLandTwentyOne%></td>
                <td><%=sumbishtopLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumholudAthaloUserSeventeen=0;%> 
                <% var sumholudAthaloUserEighteen=0;%> 
                <% var sumholudAthaloUserNineteen=0;%> 
                <% var sumholudAthaloUserTwenty=0;%> 
                <% var sumholudAthaloUserTwentyOne=0;%> 
                <% var sumholudAthaloUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumholudAthaloUserSeventeen=sumholudAthaloUserSeventeen+seventeen[i].holudAthaloUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumholudAthaloUserEighteen=sumholudAthaloUserEighteen+eighteen[i].holudAthaloUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumholudAthaloUserNineteen=sumholudAthaloUserNineteen+nineteen[i].holudAthaloUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumholudAthaloUserTwenty=sumholudAthaloUserTwenty+twenty[i].holudAthaloUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumholudAthaloUserTwentyOne=sumholudAthaloUserTwentyOne+twentyOne[i].holudAthaloUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumholudAthaloUserTwentyTwo=sumholudAthaloUserTwentyTwo+twentyTwo[i].holudAthaloUser}; %>
                    <% var sumholudAthaloLandSeventeen=0;%> 
                    <% var sumholudAthaloLandEighteen=0;%> 
                    <% var sumholudAthaloLandNineteen=0;%> 
                    <% var sumholudAthaloLandTwenty=0;%> 
                    <% var sumholudAthaloLandTwentyOne=0;%> 
                    <% var sumholudAthaloLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumholudAthaloLandSeventeen=sumholudAthaloLandSeventeen+seventeen[i].holudAthaloLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumholudAthaloLandEighteen=sumholudAthaloLandEighteen+eighteen[i].holudAthaloLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumholudAthaloLandNineteen=sumholudAthaloLandNineteen+nineteen[i].holudAthaloLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumholudAthaloLandTwenty=sumholudAthaloLandTwenty+twenty[i].holudAthaloLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumholudAthaloLandTwentyOne=sumholudAthaloLandTwentyOne+twentyOne[i].holudAthaloLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumholudAthaloLandTwentyTwo=sumholudAthaloLandTwentyTwo+twentyTwo[i].holudAthaloLand}; %>

                        <td>২১</td>
                        <td>হলুদ আঠালো ব্যবহার</td>
                <td><%=sumholudAthaloUserSeventeen%></td>
                <td><%=sumholudAthaloUserEighteen%></td>
                <td><%=sumholudAthaloUserNineteen%></td>
                <td><%=sumholudAthaloUserTwenty%></td>
                <td><%=sumholudAthaloUserTwentyOne%></td>
                <td><%=sumholudAthaloUserTwentyTwo%></td>
                <td><%=sumholudAthaloLandSeventeen%></td>
                <td><%=sumholudAthaloLandEighteen%></td>
                <td><%=sumholudAthaloLandNineteen%></td>
                <td><%=sumholudAthaloLandTwenty%></td>
                <td><%=sumholudAthaloLandTwentyOne%></td>
                <td><%=sumholudAthaloLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumparchingUserSeventeen=0;%> 
                <% var sumparchingUserEighteen=0;%> 
                <% var sumparchingUserNineteen=0;%> 
                <% var sumparchingUserTwenty=0;%> 
                <% var sumparchingUserTwentyOne=0;%> 
                <% var sumparchingUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumparchingUserSeventeen=sumparchingUserSeventeen+seventeen[i].parchingUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumparchingUserEighteen=sumparchingUserEighteen+eighteen[i].parchingUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumparchingUserNineteen=sumparchingUserNineteen+nineteen[i].parchingUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumparchingUserTwenty=sumparchingUserTwenty+twenty[i].parchingUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumparchingUserTwentyOne=sumparchingUserTwentyOne+twentyOne[i].parchingUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumparchingUserTwentyTwo=sumparchingUserTwentyTwo+twentyTwo[i].parchingUser}; %>
                    <% var sumparchingLandSeventeen=0;%> 
                    <% var sumparchingLandEighteen=0;%> 
                    <% var sumparchingLandNineteen=0;%> 
                    <% var sumparchingLandTwenty=0;%> 
                    <% var sumparchingLandTwentyOne=0;%> 
                    <% var sumparchingLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumparchingLandSeventeen=sumparchingLandSeventeen+seventeen[i].parchingLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumparchingLandEighteen=sumparchingLandEighteen+eighteen[i].parchingLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumparchingLandNineteen=sumparchingLandNineteen+nineteen[i].parchingLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumparchingLandTwenty=sumparchingLandTwenty+twenty[i].parchingLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumparchingLandTwentyOne=sumparchingLandTwentyOne+twentyOne[i].parchingLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumparchingLandTwentyTwo=sumparchingLandTwentyTwo+twentyTwo[i].parchingLand}; %>

                        <td>২২</td>
                        <td>পারচিং</td>
                <td><%=sumparchingUserSeventeen%></td>
                <td><%=sumparchingUserEighteen%></td>
                <td><%=sumparchingUserNineteen%></td>
                <td><%=sumparchingUserTwenty%></td>
                <td><%=sumparchingUserTwentyOne%></td>
                <td><%=sumparchingUserTwentyTwo%></td>
                <td><%=sumparchingLandSeventeen%></td>
                <td><%=sumparchingLandEighteen%></td>
                <td><%=sumparchingLandNineteen%></td>
                <td><%=sumparchingLandTwenty%></td>
                <td><%=sumparchingLandTwentyOne%></td>
                <td><%=sumparchingLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumpolytheneParchingUserSeventeen=0;%> 
                <% var sumpolytheneParchingUserEighteen=0;%> 
                <% var sumpolytheneParchingUserNineteen=0;%> 
                <% var sumpolytheneParchingUserTwenty=0;%> 
                <% var sumpolytheneParchingUserTwentyOne=0;%> 
                <% var sumpolytheneParchingUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumpolytheneParchingUserSeventeen=sumpolytheneParchingUserSeventeen+seventeen[i].polytheneParchingUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumpolytheneParchingUserEighteen=sumpolytheneParchingUserEighteen+eighteen[i].polytheneParchingUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumpolytheneParchingUserNineteen=sumpolytheneParchingUserNineteen+nineteen[i].polytheneParchingUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumpolytheneParchingUserTwenty=sumpolytheneParchingUserTwenty+twenty[i].polytheneParchingUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumpolytheneParchingUserTwentyOne=sumpolytheneParchingUserTwentyOne+twentyOne[i].polytheneParchingUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumpolytheneParchingUserTwentyTwo=sumpolytheneParchingUserTwentyTwo+twentyTwo[i].polytheneParchingUser}; %>
                    <% var sumpolytheneParchingLandSeventeen=0;%> 
                    <% var sumpolytheneParchingLandEighteen=0;%> 
                    <% var sumpolytheneParchingLandNineteen=0;%> 
                    <% var sumpolytheneParchingLandTwenty=0;%> 
                    <% var sumpolytheneParchingLandTwentyOne=0;%> 
                    <% var sumpolytheneParchingLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumpolytheneParchingLandSeventeen=sumpolytheneParchingLandSeventeen+seventeen[i].polytheneParchingLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumpolytheneParchingLandEighteen=sumpolytheneParchingLandEighteen+eighteen[i].polytheneParchingLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumpolytheneParchingLandNineteen=sumpolytheneParchingLandNineteen+nineteen[i].polytheneParchingLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumpolytheneParchingLandTwenty=sumpolytheneParchingLandTwenty+twenty[i].polytheneParchingLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumpolytheneParchingLandTwentyOne=sumpolytheneParchingLandTwentyOne+twentyOne[i].polytheneParchingLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumpolytheneParchingLandTwentyTwo=sumpolytheneParchingLandTwentyTwo+twentyTwo[i].polytheneParchingLand}; %>
    

                   
                        <td>২৩</td>
                        <td>পলিথিন পারচিং</td>
                <td><%=sumpolytheneParchingUserSeventeen%></td>
                <td><%=sumpolytheneParchingUserEighteen%></td>
                <td><%=sumpolytheneParchingUserNineteen%></td>
                <td><%=sumpolytheneParchingUserTwenty%></td>
                <td><%=sumpolytheneParchingUserTwentyOne%></td>
                <td><%=sumpolytheneParchingUserTwentyTwo%></td>
                <td><%=sumpolytheneParchingLandSeventeen%></td>
                <td><%=sumpolytheneParchingLandEighteen%></td>
                <td><%=sumpolytheneParchingLandNineteen%></td>
                <td><%=sumpolytheneParchingLandTwenty%></td>
                <td><%=sumpolytheneParchingLandTwentyOne%></td>
                <td><%=sumpolytheneParchingLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumbaggingShobjiUserSeventeen=0;%> 
                <% var sumbaggingShobjiUserEighteen=0;%> 
                <% var sumbaggingShobjiUserNineteen=0;%> 
                <% var sumbaggingShobjiUserTwenty=0;%> 
                <% var sumbaggingShobjiUserTwentyOne=0;%> 
                <% var sumbaggingShobjiUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumbaggingShobjiUserSeventeen=sumbaggingShobjiUserSeventeen+seventeen[i].baggingShobjiUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumbaggingShobjiUserEighteen=sumbaggingShobjiUserEighteen+eighteen[i].baggingShobjiUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumbaggingShobjiUserNineteen=sumbaggingShobjiUserNineteen+nineteen[i].baggingShobjiUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumbaggingShobjiUserTwenty=sumbaggingShobjiUserTwenty+twenty[i].baggingShobjiUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumbaggingShobjiUserTwentyOne=sumbaggingShobjiUserTwentyOne+twentyOne[i].baggingShobjiUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumbaggingShobjiUserTwentyTwo=sumbaggingShobjiUserTwentyTwo+twentyTwo[i].baggingShobjiUser}; %>
                    <% var sumbaggingShobjiLandSeventeen=0;%> 
                    <% var sumbaggingShobjiLandEighteen=0;%> 
                    <% var sumbaggingShobjiLandNineteen=0;%> 
                    <% var sumbaggingShobjiLandTwenty=0;%> 
                    <% var sumbaggingShobjiLandTwentyOne=0;%> 
                    <% var sumbaggingShobjiLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumbaggingShobjiLandSeventeen=sumbaggingShobjiLandSeventeen+seventeen[i].baggingShobjiLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumbaggingShobjiLandEighteen=sumbaggingShobjiLandEighteen+eighteen[i].baggingShobjiLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumbaggingShobjiLandNineteen=sumbaggingShobjiLandNineteen+nineteen[i].baggingShobjiLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumbaggingShobjiLandTwenty=sumbaggingShobjiLandTwenty+twenty[i].baggingShobjiLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumbaggingShobjiLandTwentyOne=sumbaggingShobjiLandTwentyOne+twentyOne[i].baggingShobjiLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumbaggingShobjiLandTwentyTwo=sumbaggingShobjiLandTwentyTwo+twentyTwo[i].baggingShobjiLand}; %>
    

                        <td>২৪</td>
                        <td>ব্যাগিং (সবজি)</td>
                <td><%=sumbaggingShobjiUserSeventeen%></td>
                <td><%=sumbaggingShobjiUserEighteen%></td>
                <td><%=sumbaggingShobjiUserNineteen%></td>
                <td><%=sumbaggingShobjiUserTwenty%></td>
                <td><%=sumbaggingShobjiUserTwentyOne%></td>
                <td><%=sumbaggingShobjiUserTwentyTwo%></td>
                <td><%=sumbaggingShobjiLandSeventeen%></td>
                <td><%=sumbaggingShobjiLandEighteen%></td>
                <td><%=sumbaggingShobjiLandNineteen%></td>
                <td><%=sumbaggingShobjiLandTwenty%></td>
                <td><%=sumbaggingShobjiLandTwentyOne%></td>
                <td><%=sumbaggingShobjiLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumbaggingFolUserSeventeen=0;%> 
                <% var sumbaggingFolUserEighteen=0;%> 
                <% var sumbaggingFolUserNineteen=0;%> 
                <% var sumbaggingFolUserTwenty=0;%> 
                <% var sumbaggingFolUserTwentyOne=0;%> 
                <% var sumbaggingFolUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumbaggingFolUserSeventeen=sumbaggingFolUserSeventeen+seventeen[i].baggingFolUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumbaggingFolUserEighteen=sumbaggingFolUserEighteen+eighteen[i].baggingFolUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumbaggingFolUserNineteen=sumbaggingFolUserNineteen+nineteen[i].baggingFolUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumbaggingFolUserTwenty=sumbaggingFolUserTwenty+twenty[i].baggingFolUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumbaggingFolUserTwentyOne=sumbaggingFolUserTwentyOne+twentyOne[i].baggingFolUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumbaggingFolUserTwentyTwo=sumbaggingFolUserTwentyTwo+twentyTwo[i].baggingFolUser}; %>
                    <% var sumbaggingFolLandSeventeen=0;%> 
                    <% var sumbaggingFolLandEighteen=0;%> 
                    <% var sumbaggingFolLandNineteen=0;%> 
                    <% var sumbaggingFolLandTwenty=0;%> 
                    <% var sumbaggingFolLandTwentyOne=0;%> 
                    <% var sumbaggingFolLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumbaggingFolLandSeventeen=sumbaggingFolLandSeventeen+seventeen[i].baggingFolLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumbaggingFolLandEighteen=sumbaggingFolLandEighteen+eighteen[i].baggingFolLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumbaggingFolLandNineteen=sumbaggingFolLandNineteen+nineteen[i].baggingFolLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumbaggingFolLandTwenty=sumbaggingFolLandTwenty+twenty[i].baggingFolLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumbaggingFolLandTwentyOne=sumbaggingFolLandTwentyOne+twentyOne[i].baggingFolLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumbaggingFolLandTwentyTwo=sumbaggingFolLandTwentyTwo+twentyTwo[i].baggingFolLand}; %>

                        <td>২৫</td>
                        <td>ব্যাগিং (ফল)</td>
                <td><%=sumbaggingFolUserSeventeen%></td>
                <td><%=sumbaggingFolUserEighteen%></td>
                <td><%=sumbaggingFolUserNineteen%></td>
                <td><%=sumbaggingFolUserTwenty%></td>
                <td><%=sumbaggingFolUserTwentyOne%></td>
                <td><%=sumbaggingFolUserTwentyTwo%></td>
                <td><%=sumbaggingFolLandSeventeen%></td>
                <td><%=sumbaggingFolLandEighteen%></td>
                <td><%=sumbaggingFolLandNineteen%></td>
                <td><%=sumbaggingFolLandTwenty%></td>
                <td><%=sumbaggingFolLandTwentyOne%></td>
                <td><%=sumbaggingFolLandTwentyTwo%></td>
            </tr>
        
            <tr>
                
                <% var sumfolPruningUserSeventeen=0;%> 
                <% var sumfolPruningUserEighteen=0;%> 
                <% var sumfolPruningUserNineteen=0;%> 
                <% var sumfolPruningUserTwenty=0;%> 
                <% var sumfolPruningUserTwentyOne=0;%> 
                <% var sumfolPruningUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumfolPruningUserSeventeen=sumfolPruningUserSeventeen+seventeen[i].folPruningUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumfolPruningUserEighteen=sumfolPruningUserEighteen+eighteen[i].folPruningUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumfolPruningUserNineteen=sumfolPruningUserNineteen+nineteen[i].folPruningUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumfolPruningUserTwenty=sumfolPruningUserTwenty+twenty[i].folPruningUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumfolPruningUserTwentyOne=sumfolPruningUserTwentyOne+twentyOne[i].folPruningUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumfolPruningUserTwentyTwo=sumfolPruningUserTwentyTwo+twentyTwo[i].folPruningUser}; %>
                    <% var sumfolPruningLandSeventeen=0;%> 
                    <% var sumfolPruningLandEighteen=0;%> 
                    <% var sumfolPruningLandNineteen=0;%> 
                    <% var sumfolPruningLandTwenty=0;%> 
                    <% var sumfolPruningLandTwentyOne=0;%> 
                    <% var sumfolPruningLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumfolPruningLandSeventeen=sumfolPruningLandSeventeen+seventeen[i].folPruningLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumfolPruningLandEighteen=sumfolPruningLandEighteen+eighteen[i].folPruningLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumfolPruningLandNineteen=sumfolPruningLandNineteen+nineteen[i].folPruningLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumfolPruningLandTwenty=sumfolPruningLandTwenty+twenty[i].folPruningLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumfolPruningLandTwentyOne=sumfolPruningLandTwentyOne+twentyOne[i].folPruningLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumfolPruningLandTwentyTwo=sumfolPruningLandTwentyTwo+twentyTwo[i].folPruningLand}; %>


                        <td>২৬</td>
                        <td>ফল্ গাছে প্রুণিং</td>
                <td><%=sumfolPruningUserSeventeen%></td>
                <td><%=sumfolPruningUserEighteen%></td>
                <td><%=sumfolPruningUserNineteen%></td>
                <td><%=sumfolPruningUserTwenty%></td>
                <td><%=sumfolPruningUserTwentyOne%></td>
                <td><%=sumfolPruningUserTwentyTwo%></td>
                <td><%=sumfolPruningLandSeventeen%></td>
                <td><%=sumfolPruningLandEighteen%></td>
                <td><%=sumfolPruningLandNineteen%></td>
                <td><%=sumfolPruningLandTwenty%></td>
                <td><%=sumfolPruningLandTwentyOne%></td>
                <td><%=sumfolPruningLandTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumfolSharShechUserSeventeen=0;%> 
                <% var sumfolSharShechUserEighteen=0;%> 
                <% var sumfolSharShechUserNineteen=0;%> 
                <% var sumfolSharShechUserTwenty=0;%> 
                <% var sumfolSharShechUserTwentyOne=0;%> 
                <% var sumfolSharShechUserTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumfolSharShechUserSeventeen=sumfolSharShechUserSeventeen+seventeen[i].folSharShechUser}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumfolSharShechUserEighteen=sumfolSharShechUserEighteen+eighteen[i].folSharShechUser}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumfolSharShechUserNineteen=sumfolSharShechUserNineteen+nineteen[i].folSharShechUser}; %>
                <% for(var i=0;i<twenty.length;i++){ sumfolSharShechUserTwenty=sumfolSharShechUserTwenty+twenty[i].folSharShechUser}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumfolSharShechUserTwentyOne=sumfolSharShechUserTwentyOne+twentyOne[i].folSharShechUser}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumfolSharShechUserTwentyTwo=sumfolSharShechUserTwentyTwo+twentyTwo[i].folSharShechUser}; %>
                    <% var sumfolSharShechLandSeventeen=0;%> 
                    <% var sumfolSharShechLandEighteen=0;%> 
                    <% var sumfolSharShechLandNineteen=0;%> 
                    <% var sumfolSharShechLandTwenty=0;%> 
                    <% var sumfolSharShechLandTwentyOne=0;%> 
                    <% var sumfolSharShechLandTwentyTwo=0;%> 
                    <% for(var i=0;i<seventeen.length;i++){ sumfolSharShechLandSeventeen=sumfolSharShechLandSeventeen+seventeen[i].folSharShechLand}; %>
                    <% for(var i=0;i<eighteen.length;i++){ sumfolSharShechLandEighteen=sumfolSharShechLandEighteen+eighteen[i].folSharShechLand}; %>
                    <% for(var i=0;i<nineteen.length;i++){ sumfolSharShechLandNineteen=sumfolSharShechLandNineteen+nineteen[i].folSharShechLand}; %>
                    <% for(var i=0;i<twenty.length;i++){ sumfolSharShechLandTwenty=sumfolSharShechLandTwenty+twenty[i].folSharShechLand}; %>
                    <% for(var i=0;i<twentyOne.length;i++){ sumfolSharShechLandTwentyOne=sumfolSharShechLandTwentyOne+twentyOne[i].folSharShechLand}; %>
                    <% for(var i=0;i<twentyTwo.length;i++){ sumfolSharShechLandTwentyTwo=sumfolSharShechLandTwentyTwo+twentyTwo[i].folSharShechLand}; %>
    

                        <td>২৭</td>
                        <td>ফলগাছে সার ও সেচ ব্যবস্থাপনা</td>
                <td><%=sumfolSharShechUserSeventeen%></td>
                <td><%=sumfolSharShechUserEighteen%></td>
                <td><%=sumfolSharShechUserNineteen%></td>
                <td><%=sumfolSharShechUserTwenty%></td>
                <td><%=sumfolSharShechUserTwentyOne%></td>
                <td><%=sumfolSharShechUserTwentyTwo%></td>
                <td><%=sumfolSharShechLandSeventeen%></td>
                <td><%=sumfolSharShechLandEighteen%></td>
                <td><%=sumfolSharShechLandNineteen%></td>
                <td><%=sumfolSharShechLandTwenty%></td>
                <td><%=sumfolSharShechLandTwentyOne%></td>
                <td><%=sumfolSharShechLandTwentyTwo%></td>
            </tr>

            
    </tbody>
</table>
