<%if (technologyList.length >0){ %>
<table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th rowspan="2">ক্রমিক নং</th>
            <th rowspan="2">প্রযুক্তির নাম</th>
            <th colspan="6">ব্যবহারকারীর (সংখ্যা)</th>
            <th colspan="6">ব্যবহৃত জমি</th>
        </tr>
        <tr>
            <th>২০১৭-১৮</th>
            <th>২০১৮-১৯</th>
            <th>২০১৯-২০</th>
            <th>২০২০-২১</th>
            <th>২০২১-২২</th>
            <th>২০২২-২৩</th>
            <th>২০১৭-১৮</th>
            <th>২০১৮-১৯</th>
            <th>২০১৯-২০</th>
            <th>২০২০-২১</th>
            <th>২০২১-২২</th>
            <th>২০২২-২৩</th>
        </tr>
    </thead>
    <tbody>
        <% technologyList.forEach(function(rows,index){ %>
            <tr>
                <td><%= index+1 %></td>
                <td><%= rows.technology %></td>
                <% var sumUserShotero=0;%> 
                <% var sumUserAtharo=0;%> 
                <% var sumUserUnish=0;%> 
                <% var sumUserBish=0;%> 
                <% var sumUserEkush=0;%> 
                <% var sumUserBaish=0;%> 
                <% var sumAreaShotero=0;%> 
                <% var sumAreaAtharo=0;%> 
                <% var sumAreaUnish=0;%> 
                <% var sumAreaBish=0;%> 
                <% var sumAreaEkush=0;%> 
                <% var sumAreaBaish=0;%> 
                <% technology.forEach(function(row,index){ %>
                    <%if (row.technology === rows.technology){ %>
                        <% sumUserShotero = parseInt(sumUserShotero)+parseInt(row.userShotero) %>
                        <% sumUserAtharo = parseInt(sumUserAtharo)+parseInt(row.userAtharo) %>
                        <% sumUserUnish = parseInt(sumUserUnish)+parseInt(row.userUnish) %>
                        <% sumUserBish=parseInt(sumUserBish)+parseInt(row.userBish) %>
                        <% sumUserEkush=parseInt(sumUserEkush)+parseInt(row.userEkush) %>
                        <% sumUserBaish=parseInt(sumUserBaish)+parseInt(row.userBaish) %>
                        <% sumAreaShotero=parseInt(sumAreaShotero)+parseInt(row.areaShotero) %>
                        <% sumAreaAtharo=parseInt(sumAreaAtharo)+parseInt(row.areaAtharo) %>
                        <% sumAreaUnish=parseInt(sumAreaUnish)+parseInt(row.areaUnish) %>
                        <% sumAreaBish=parseInt(sumAreaBish)+parseInt(row.areaBish) %>
                        <% sumAreaEkush=parseInt(sumAreaEkush)+parseInt(row.areaEkush) %>
                        <% sumAreaBaish=parseInt(sumAreaBaish)+parseInt(row.areaBaish) %>
                    <% } %>
                <% }) %>
                        <td><%= sumUserShotero %></td>
                        <td><%= sumUserAtharo %></td>
                        <td><%= sumUserUnish %></td>
                        <td><%= sumUserBish %></td>
                        <td><%= sumUserEkush %></td>
                        <td><%= sumUserBaish %></td>
                        <td><%= sumAreaShotero %></td>
                        <td><%= sumAreaAtharo %></td>
                        <td><%= sumAreaUnish %></td>
                        <td><%= sumAreaBish %></td>
                        <td><%= sumAreaEkush %></td>
                        <td><%= sumAreaBaish %></td>
              
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th rowspan="2">ক্রমিক নং</th>
                <th rowspan="2">প্রযুক্তির নাম</th>
                <th colspan="6">ব্যবহারকারীর (সংখ্যা)</th>
                <th colspan="6">ব্যবহৃত জমি</th>
            </tr>
            <tr>
                <th>২০১৭-১৮</th>
                <th>২০১৮-১৯</th>
                <th>২০১৯-২০</th>
                <th>২০২০-২১</th>
                <th>২০২১-২২</th>
                <th>২০২২-২৩</th>
                <th>২০১৭-১৮</th>
                <th>২০১৮-১৯</th>
                <th>২০১৯-২০</th>
                <th>২০২০-২১</th>
                <th>২০২১-২২</th>
                <th>২০২২-২৩</th>
            </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>
