<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>প্রদর্শনীর/কারযক্রমের নাম</th>
        <th>বরাদ্দ</th>
        <th>স্থাপিত/সম্পন্ন</th>
        <th>প্রদর্শনীর ফসলের জাতের নাম(প্রদরশনীর সংখ্যা ভিত্তিক)</th>
        <th>বীজ/চারার উৎস(গবেষণা প্রতিষ্ঠানের নাম/বিএডিসি/কোম্পানীর নাম)</th>
    </tr>
    </thead>
    <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td><%= row.name %></td>
                <td><%= row.boraddo %></td>
                <td><%= row.done %></td>
                <td><%= row.breed %></td>
                <td><%= row.source %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>প্রদর্শনীর/কারযক্রমের নাম</th>
            <th>বরাদ্দ</th>
            <th>স্থাপিত/সম্পন্ন</th>
            <th>প্রদর্শনীর ফসলের জাতের নাম(প্রদরশনীর সংখ্যা ভিত্তিক)</th>
            <th>বীজ/চারার উৎস(গবেষণা প্রতিষ্ঠানের নাম/বিএডিসি/কোম্পানীর নাম)</th>
        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>