<table class="table table-bordered table-striped"  cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>ক্রমিক নং</th>
        <th>বিবরণ</th>
        <th>২০১৭-১৮</th>
        <th>২০১৮-১৯</th>
        <th>২০১৯-২০</th>
        <th>২০২০-২১</th>
        <th>২০২১-২২</th>
        <th>২০২২-২৩</th>
        
    </tr>
    </thead>
    <tbody>
            <tr>
                
                <% var sumayotonSeventeen=0;%> 
                <% var sumayotonEighteen=0;%> 
                <% var sumayotonNineteen=0;%> 
                <% var sumayotonTwenty=0;%> 
                <% var sumayotonTwentyOne=0;%> 
                <% var sumayotonTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumayotonSeventeen=sumayotonSeventeen+seventeen[i].ayoton}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumayotonEighteen=sumayotonEighteen+eighteen[i].ayoton}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumayotonNineteen=sumayotonNineteen+nineteen[i].ayoton}; %>
                <% for(var i=0;i<twenty.length;i++){ sumayotonTwenty=sumayotonTwenty+twenty[i].ayoton}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumayotonTwentyOne=sumayotonTwentyOne+twentyOne[i].ayoton}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumayotonTwentyTwo=sumayotonTwentyTwo+twentyTwo[i].ayoton}; %>


                    <td>১</td>
                    <td>মোট আয়তন</td>
                <td><%=sumayotonSeventeen%></td>
                <td><%=sumayotonEighteen%></td>
                <td><%=sumayotonNineteen%></td>
                <td><%=sumayotonTwenty%></td>
                <td><%=sumayotonTwentyOne%></td>
                <td><%=sumayotonTwentyTwo%></td>
            </tr>
   
            <tr>
                <td>২</td>
                <td>জনসংখ্যা</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
           
            <tr>
                
                <% var sumpurushSeventeen=0;%> 
                <% var sumpurushEighteen=0;%> 
                <% var sumpurushNineteen=0;%> 
                <% var sumpurushTwenty=0;%> 
                <% var sumpurushTwentyOne=0;%> 
                <% var sumpurushTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumpurushSeventeen=sumpurushSeventeen+seventeen[i].purush}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumpurushEighteen=sumpurushEighteen+eighteen[i].purush}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumpurushNineteen=sumpurushNineteen+nineteen[i].purush}; %>
                <% for(var i=0;i<twenty.length;i++){ sumpurushTwenty=sumpurushTwenty+twenty[i].purush}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumpurushTwentyOne=sumpurushTwentyOne+twentyOne[i].purush}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumpurushTwentyTwo=sumpurushTwentyTwo+twentyTwo[i].purush}; %>


                    <td></td>
                    <td>ক) পুরুষ</td>
                <td><%=sumpurushSeventeen%></td>
                <td><%=sumpurushEighteen%></td>
                <td><%=sumpurushNineteen%></td>
                <td><%=sumpurushTwenty%></td>
                <td><%=sumpurushTwentyOne%></td>
                <td><%=sumpurushTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var summohilaSeventeen=0;%> 
                <% var summohilaEighteen=0;%> 
                <% var summohilaNineteen=0;%> 
                <% var summohilaTwenty=0;%> 
                <% var summohilaTwentyOne=0;%> 
                <% var summohilaTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ summohilaSeventeen=summohilaSeventeen+seventeen[i].mohila}; %>
                <% for(var i=0;i<eighteen.length;i++){ summohilaEighteen=summohilaEighteen+eighteen[i].mohila}; %>
                <% for(var i=0;i<nineteen.length;i++){ summohilaNineteen=summohilaNineteen+nineteen[i].mohila}; %>
                <% for(var i=0;i<twenty.length;i++){ summohilaTwenty=summohilaTwenty+twenty[i].mohila}; %>
                <% for(var i=0;i<twentyOne.length;i++){ summohilaTwentyOne=summohilaTwentyOne+twentyOne[i].mohila}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ summohilaTwentyTwo=summohilaTwentyTwo+twentyTwo[i].mohila}; %>

                    <td></td>
                    <td>খ) মহিলা</td>
                <td><%=summohilaSeventeen%></td>
                <td><%=summohilaEighteen%></td>
                <td><%=summohilaNineteen%></td>
                <td><%=summohilaTwenty%></td>
                <td><%=summohilaTwentyOne%></td>
                <td><%=summohilaTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumtotalSeventeen=0;%> 
                <% var sumtotalEighteen=0;%> 
                <% var sumtotalNineteen=0;%> 
                <% var sumtotalTwenty=0;%> 
                <% var sumtotalTwentyOne=0;%> 
                <% var sumtotalTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumtotalSeventeen=sumtotalSeventeen+seventeen[i].total}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumtotalEighteen=sumtotalEighteen+eighteen[i].total}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumtotalNineteen=sumtotalNineteen+nineteen[i].total}; %>
                <% for(var i=0;i<twenty.length;i++){ sumtotalTwenty=sumtotalTwenty+twenty[i].total}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumtotalTwentyOne=sumtotalTwentyOne+twentyOne[i].total}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumtotalTwentyTwo=sumtotalTwentyTwo+twentyTwo[i].total}; %>


                    <td></td>
                <td>গ) মোট</td>
                <td><%=sumtotalSeventeen%></td>
                <td><%=sumtotalEighteen%></td>
                <td><%=sumtotalNineteen%></td>
                <td><%=sumtotalTwenty%></td>
                <td><%=sumtotalTwentyOne%></td>
                <td><%=sumtotalTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumporibarSeventeen=0;%> 
                <% var sumporibarEighteen=0;%> 
                <% var sumporibarNineteen=0;%> 
                <% var sumporibarTwenty=0;%> 
                <% var sumporibarTwentyOne=0;%> 
                <% var sumporibarTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumporibarSeventeen=sumporibarSeventeen+seventeen[i].poribar}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumporibarEighteen=sumporibarEighteen+eighteen[i].poribar}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumporibarNineteen=sumporibarNineteen+nineteen[i].poribar}; %>
                <% for(var i=0;i<twenty.length;i++){ sumporibarTwenty=sumporibarTwenty+twenty[i].poribar}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumporibarTwentyOne=sumporibarTwentyOne+twentyOne[i].poribar}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumporibarTwentyTwo=sumporibarTwentyTwo+twentyTwo[i].poribar}; %>


                    <td>৩</td>
                    <td>কৃষক পরিবারের সংখ্যা</td>
                <td><%=sumporibarSeventeen%></td>
                <td><%=sumporibarEighteen%></td>
                <td><%=sumporibarNineteen%></td>
                <td><%=sumporibarTwenty%></td>
                <td><%=sumporibarTwentyOne%></td>
                <td><%=sumporibarTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumblockSeventeen=0;%> 
                <% var sumblockEighteen=0;%> 
                <% var sumblockNineteen=0;%> 
                <% var sumblockTwenty=0;%> 
                <% var sumblockTwentyOne=0;%> 
                <% var sumblockTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumblockSeventeen=sumblockSeventeen+seventeen[i].block}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumblockEighteen=sumblockEighteen+eighteen[i].block}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumblockNineteen=sumblockNineteen+nineteen[i].block}; %>
                <% for(var i=0;i<twenty.length;i++){ sumblockTwenty=sumblockTwenty+twenty[i].block}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumblockTwentyOne=sumblockTwentyOne+twentyOne[i].block}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumblockTwentyTwo=sumblockTwentyTwo+twentyTwo[i].block}; %>


                    <td>৪</td>
                    <td>কৃষি ব্লকের সংখ্যা</td>
                <td><%=sumblockSeventeen%></td>
                <td><%=sumblockEighteen%></td>
                <td><%=sumblockNineteen%></td>
                <td><%=sumblockTwenty%></td>
                <td><%=sumblockTwentyOne%></td>
                <td><%=sumblockTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumabadjoggoSeventeen=0;%> 
                <% var sumabadjoggoEighteen=0;%> 
                <% var sumabadjoggoNineteen=0;%> 
                <% var sumabadjoggoTwenty=0;%> 
                <% var sumabadjoggoTwentyOne=0;%> 
                <% var sumabadjoggoTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumabadjoggoSeventeen=sumabadjoggoSeventeen+seventeen[i].abadjoggo}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumabadjoggoEighteen=sumabadjoggoEighteen+eighteen[i].abadjoggo}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumabadjoggoNineteen=sumabadjoggoNineteen+nineteen[i].abadjoggo}; %>
                <% for(var i=0;i<twenty.length;i++){ sumabadjoggoTwenty=sumabadjoggoTwenty+twenty[i].abadjoggo}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumabadjoggoTwentyOne=sumabadjoggoTwentyOne+twentyOne[i].abadjoggo}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumabadjoggoTwentyTwo=sumabadjoggoTwentyTwo+twentyTwo[i].abadjoggo}; %>


                    <td>৫</td>
                <td>আবাদযোগ্য জমি(হে.)</td>
                <td><%=sumabadjoggoSeventeen%></td>
                <td><%=sumabadjoggoEighteen%></td>
                <td><%=sumabadjoggoNineteen%></td>
                <td><%=sumabadjoggoTwenty%></td>
                <td><%=sumabadjoggoTwentyOne%></td>
                <td><%=sumabadjoggoTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumabadiSeventeen=0;%> 
                <% var sumabadiEighteen=0;%> 
                <% var sumabadiNineteen=0;%> 
                <% var sumabadiTwenty=0;%> 
                <% var sumabadiTwentyOne=0;%> 
                <% var sumabadiTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumabadiSeventeen=sumabadiSeventeen+seventeen[i].abadi}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumabadiEighteen=sumabadiEighteen+eighteen[i].abadi}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumabadiNineteen=sumabadiNineteen+nineteen[i].abadi}; %>
                <% for(var i=0;i<twenty.length;i++){ sumabadiTwenty=sumabadiTwenty+twenty[i].abadi}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumabadiTwentyOne=sumabadiTwentyOne+twentyOne[i].abadi}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumabadiTwentyTwo=sumabadiTwentyTwo+twentyTwo[i].abadi}; %>


                    <td>৬</td>
                    <td>আবাদী জমি (হেক্টর)</td>
                <td><%=sumabadiSeventeen%></td>
                <td><%=sumabadiEighteen%></td>
                <td><%=sumabadiNineteen%></td>
                <td><%=sumabadiTwenty%></td>
                <td><%=sumabadiTwentyOne%></td>
                <td><%=sumabadiTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumekSeventeen=0;%> 
                <% var sumekEighteen=0;%> 
                <% var sumekNineteen=0;%> 
                <% var sumekTwenty=0;%> 
                <% var sumekTwentyOne=0;%> 
                <% var sumekTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumekSeventeen=sumekSeventeen+seventeen[i].ek}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumekEighteen=sumekEighteen+eighteen[i].ek}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumekNineteen=sumekNineteen+nineteen[i].ek}; %>
                <% for(var i=0;i<twenty.length;i++){ sumekTwenty=sumekTwenty+twenty[i].ek}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumekTwentyOne=sumekTwentyOne+twentyOne[i].ek}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumekTwentyTwo=sumekTwentyTwo+twentyTwo[i].ek}; %>


                    <td>৭</td>
                <td>এক ফসলী</td>
                <td><%=sumekSeventeen%></td>
                <td><%=sumekEighteen%></td>
                <td><%=sumekNineteen%></td>
                <td><%=sumekTwenty%></td>
                <td><%=sumekTwentyOne%></td>
                <td><%=sumekTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumduiSeventeen=0;%> 
                <% var sumduiEighteen=0;%> 
                <% var sumduiNineteen=0;%> 
                <% var sumduiTwenty=0;%> 
                <% var sumduiTwentyOne=0;%> 
                <% var sumduiTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumduiSeventeen=sumduiSeventeen+seventeen[i].dui}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumduiEighteen=sumduiEighteen+eighteen[i].dui}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumduiNineteen=sumduiNineteen+nineteen[i].dui}; %>
                <% for(var i=0;i<twenty.length;i++){ sumduiTwenty=sumduiTwenty+twenty[i].dui}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumduiTwentyOne=sumduiTwentyOne+twentyOne[i].dui}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumduiTwentyTwo=sumduiTwentyTwo+twentyTwo[i].dui}; %>


                    <td></td>
                <td>দুই ফসলী</td>
                <td><%=sumduiSeventeen%></td>
                <td><%=sumduiEighteen%></td>
                <td><%=sumduiNineteen%></td>
                <td><%=sumduiTwenty%></td>
                <td><%=sumduiTwentyOne%></td>
                <td><%=sumduiTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumtinSeventeen=0;%> 
                <% var sumtinEighteen=0;%> 
                <% var sumtinNineteen=0;%> 
                <% var sumtinTwenty=0;%> 
                <% var sumtinTwentyOne=0;%> 
                <% var sumtinTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumtinSeventeen=sumtinSeventeen+seventeen[i].tin}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumtinEighteen=sumtinEighteen+eighteen[i].tin}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumtinNineteen=sumtinNineteen+nineteen[i].tin}; %>
                <% for(var i=0;i<twenty.length;i++){ sumtinTwenty=sumtinTwenty+twenty[i].tin}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumtinTwentyOne=sumtinTwentyOne+twentyOne[i].tin}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumtinTwentyTwo=sumtinTwentyTwo+twentyTwo[i].tin}; %>


                    <td></td>
                <td>তিন ফসলী</td>
                <td><%=sumtinSeventeen%></td>
                <td><%=sumtinEighteen%></td>
                <td><%=sumtinNineteen%></td>
                <td><%=sumtinTwenty%></td>
                <td><%=sumtinTwentyOne%></td>
                <td><%=sumtinTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var summotSeventeen=0;%> 
                <% var summotEighteen=0;%> 
                <% var summotNineteen=0;%> 
                <% var summotTwenty=0;%> 
                <% var summotTwentyOne=0;%> 
                <% var summotTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ summotSeventeen=summotSeventeen+seventeen[i].mot}; %>
                <% for(var i=0;i<eighteen.length;i++){ summotEighteen=summotEighteen+eighteen[i].mot}; %>
                <% for(var i=0;i<nineteen.length;i++){ summotNineteen=summotNineteen+nineteen[i].mot}; %>
                <% for(var i=0;i<twenty.length;i++){ summotTwenty=summotTwenty+twenty[i].mot}; %>
                <% for(var i=0;i<twentyOne.length;i++){ summotTwentyOne=summotTwentyOne+twentyOne[i].mot}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ summotTwentyTwo=summotTwentyTwo+twentyTwo[i].mot}; %>


                    <td></td>
                <td>মোট ফসলী</td>
                <td><%=summotSeventeen%></td>
                <td><%=summotEighteen%></td>
                <td><%=summotNineteen%></td>
                <td><%=summotTwenty%></td>
                <td><%=summotTwentyOne%></td>
                <td><%=summotTwentyTwo%></td>
            </tr>
            <tr>
                
                <% var sumnibirotaSeventeen=0;%> 
                <% var sumnibirotaEighteen=0;%> 
                <% var sumnibirotaNineteen=0;%> 
                <% var sumnibirotaTwenty=0;%> 
                <% var sumnibirotaTwentyOne=0;%> 
                <% var sumnibirotaTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumnibirotaSeventeen=sumnibirotaSeventeen+seventeen[i].nibirota}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumnibirotaEighteen=sumnibirotaEighteen+eighteen[i].nibirota}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumnibirotaNineteen=sumnibirotaNineteen+nineteen[i].nibirota}; %>
                <% for(var i=0;i<twenty.length;i++){ sumnibirotaTwenty=sumnibirotaTwenty+twenty[i].nibirota}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumnibirotaTwentyOne=sumnibirotaTwentyOne+twentyOne[i].nibirota}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumnibirotaTwentyTwo=sumnibirotaTwentyTwo+twentyTwo[i].nibirota}; %>


                    <td>৮</td>
                    <td>ফসলের নিবিড়তা(%)</td>
                <td><%=sumnibirotaSeventeen%></td>
                <td><%=sumnibirotaEighteen%></td>
                <td><%=sumnibirotaNineteen%></td>
                <td><%=sumnibirotaTwenty%></td>
                <td><%=sumnibirotaTwentyOne%></td>
                <td><%=sumnibirotaTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumpotitoSeventeen=0;%> 
                <% var sumpotitoEighteen=0;%> 
                <% var sumpotitoNineteen=0;%> 
                <% var sumpotitoTwenty=0;%> 
                <% var sumpotitoTwentyOne=0;%> 
                <% var sumpotitoTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumpotitoSeventeen=sumpotitoSeventeen+seventeen[i].potito}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumpotitoEighteen=sumpotitoEighteen+eighteen[i].potito}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumpotitoNineteen=sumpotitoNineteen+nineteen[i].potito}; %>
                <% for(var i=0;i<twenty.length;i++){ sumpotitoTwenty=sumpotitoTwenty+twenty[i].potito}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumpotitoTwentyOne=sumpotitoTwentyOne+twentyOne[i].potito}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumpotitoTwentyTwo=sumpotitoTwentyTwo+twentyTwo[i].potito}; %>


                    <td>৯</td>
                    <td>চাষযোগ্য পতিত জমি</td>
                <td><%=sumpotitoSeventeen%></td>
                <td><%=sumpotitoEighteen%></td>
                <td><%=sumpotitoNineteen%></td>
                <td><%=sumpotitoTwenty%></td>
                <td><%=sumpotitoTwentyOne%></td>
                <td><%=sumpotitoTwentyTwo%></td>
            </tr>

            <tr>
                
                <% var sumcholtiSeventeen=0;%> 
                <% var sumcholtiEighteen=0;%> 
                <% var sumcholtiNineteen=0;%> 
                <% var sumcholtiTwenty=0;%> 
                <% var sumcholtiTwentyOne=0;%> 
                <% var sumcholtiTwentyTwo=0;%> 
                <% for(var i=0;i<seventeen.length;i++){ sumcholtiSeventeen=sumcholtiSeventeen+seventeen[i].cholti}; %>
                <% for(var i=0;i<eighteen.length;i++){ sumcholtiEighteen=sumcholtiEighteen+eighteen[i].cholti}; %>
                <% for(var i=0;i<nineteen.length;i++){ sumcholtiNineteen=sumcholtiNineteen+nineteen[i].cholti}; %>
                <% for(var i=0;i<twenty.length;i++){ sumcholtiTwenty=sumcholtiTwenty+twenty[i].cholti}; %>
                <% for(var i=0;i<twentyOne.length;i++){ sumcholtiTwentyOne=sumcholtiTwentyOne+twentyOne[i].cholti}; %>
                <% for(var i=0;i<twentyTwo.length;i++){ sumcholtiTwentyTwo=sumcholtiTwentyTwo+twentyTwo[i].cholti}; %>


                    <td>১০</td>
                    <td>চলতি পতিত (মোট)</td>
                <td><%=sumcholtiSeventeen%></td>
                <td><%=sumcholtiEighteen%></td>
                <td><%=sumcholtiNineteen%></td>
                <td><%=sumcholtiTwenty%></td>
                <td><%=sumcholtiTwentyOne%></td>
                <td><%=sumcholtiTwentyTwo%></td>
            </tr>

            
        
    </tbody>
</table>
