<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th rowspan="2">ক্রমিক নং</th>
                <th rowspan="2">ফসলের নাম</th>
                <th colspan="2">২০১৭-১৮</th>
                <th colspan="2">২০১৮-১৯</th>
                <th colspan="2">২০১৯-২০</th>
                <th colspan="2">২০২০-২১</th>
                <th colspan="2">২০২১-২২</th>
                <th colspan="2">২০২২-২৩</th>
            </tr>
            <tr>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
            </tr>
        </thead>
    <tbody>
        <% records.forEach(function(row,index){ %>
            <tr>
                <td><%= index+1 %></td>
                <td><%= row.crop %></td>
                <td><%= row.areaShotero %></td>
                <td><%= row.areaAtharo %></td>
                <td><%= row.areaUnish %></td>
                <td><%= row.areaBish %></td>
                <td><%= row.areaEkush %></td>
                <td><%= row.areaBaish %></td>
                <td><%= row.productionShotero %></td>
                <td><%= row.productionAtharo %></td>
                <td><%= row.productionUnish %></td>
                <td><%= row.productionBish %></td>
                <td><%= row.productionEkush %></td>
                <td><%= row.productionBaish %></td>
               
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th rowspan="2">ক্রমিক নং</th>
                <th rowspan="2">ফসলের নাম</th>
                <th colspan="2">২০১৭-১৮</th>
                <th colspan="2">২০১৮-১৯</th>
                <th colspan="2">২০১৯-২০</th>
                <th colspan="2">২০২০-২১</th>
                <th colspan="2">২০২১-২২</th>
                <th colspan="2">২০২২-২৩</th>
            </tr>
            <tr>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
            </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>