<%if (cropList.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th rowspan="2">ক্রমিক নং</th>
                <th rowspan="2">ফসলের নাম</th>
                <th colspan="2">২০১৭-১৮</th>
                <th colspan="2">২০১৮-১৯</th>
                <th colspan="2">২০১৯-২০</th>
                <th colspan="2">২০২০-২১</th>
                <th colspan="2">২০২১-২২</th>
                <th colspan="2">২০২২-২৩</th>
            </tr>
            <tr>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
                <th>আবাদী জমি</th>
                <th>উৎপাদন</th>
            </tr>
        </thead>
        <tbody>
            <% cropList.forEach(function(rows,index){ %>
                <tr>
                    <td><%= index+1 %></td>
                    <td><%= rows.name %></td>
                    <% var sumProductionShotero=0;%> 
                    <% var sumProductionAtharo=0;%> 
                    <% var sumProductionUnish=0;%> 
                    <% var sumProductionBish=0;%> 
                    <% var sumProductionEkush=0;%> 
                    <% var sumProductionBaish=0;%> 
                    <% var sumAreaShotero=0;%> 
                    <% var sumAreaAtharo=0;%> 
                    <% var sumAreaUnish=0;%> 
                    <% var sumAreaBish=0;%> 
                    <% var sumAreaEkush=0;%> 
                    <% var sumAreaBaish=0;%> 
                    <% crop.forEach(function(row,index){ %>
                        <%if (row.crop === rows.name){ %>
                            <% sumProductionShotero = parseInt(sumProductionShotero)+parseInt(row.productionShotero) %>
                            <% sumProductionAtharo = parseInt(sumProductionAtharo)+parseInt(row.productionAtharo) %>
                            <% sumProductionUnish = parseInt(sumProductionUnish)+parseInt(row.productionUnish) %>
                            <% sumProductionBish=parseInt(sumProductionBish)+parseInt(row.productionBish) %>
                            <% sumProductionEkush=parseInt(sumProductionEkush)+parseInt(row.productionEkush) %>
                            <% sumProductionBaish=parseInt(sumProductionBaish)+parseInt(row.productionBaish) %>
                            <% sumAreaShotero=parseInt(sumAreaShotero)+parseInt(row.areaShotero) %>
                            <% sumAreaAtharo=parseInt(sumAreaAtharo)+parseInt(row.areaAtharo) %>
                            <% sumAreaUnish=parseInt(sumAreaUnish)+parseInt(row.areaUnish) %>
                            <% sumAreaBish=parseInt(sumAreaBish)+parseInt(row.areaBish) %>
                            <% sumAreaEkush=parseInt(sumAreaEkush)+parseInt(row.areaEkush) %>
                            <% sumAreaBaish=parseInt(sumAreaBaish)+parseInt(row.areaBaish) %>
                        <% } %>
                    <% }) %>
                             <td><%= sumAreaShotero %></td>
                            <td><%= sumProductionShotero %></td>
                            <td><%= sumAreaAtharo %></td>
                            <td><%= sumProductionAtharo %></td>
                            <td><%= sumAreaUnish %></td>
                            <td><%= sumProductionUnish %></td>
                            <td><%= sumAreaBish %></td>
                            <td><%= sumProductionBish %></td>
                            <td><%= sumAreaEkush %></td>
                            <td><%= sumProductionEkush %></td>
                            <td><%= sumAreaBaish %></td>
                            <td><%= sumProductionBaish %></td>
                            
                            
                            
                            
                            
                            
                  
                </tr>
            <% }) %>
        </tbody>
    </table>
    <% }else{ %>
        <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th rowspan="2">ক্রমিক নং</th>
                    <th rowspan="2">ফসলের নাম</th>
                    <th colspan="2">২০১৭-১৮</th>
                    <th colspan="2">২০১৮-১৯</th>
                    <th colspan="2">২০১৯-২০</th>
                    <th colspan="2">২০২০-২১</th>
                    <th colspan="2">২০২১-২২</th>
                    <th colspan="2">২০২২-২৩</th>
                </tr>
                <tr>
                    <th>আবাদী জমি</th>
                    <th>উৎপাদন</th>
                    <th>আবাদী জমি</th>
                    <th>উৎপাদন</th>
                    <th>আবাদী জমি</th>
                    <th>উৎপাদন</th>
                    <th>আবাদী জমি</th>
                    <th>উৎপাদন</th>
                    <th>আবাদী জমি</th>
                    <th>উৎপাদন</th>
                    <th>আবাদী জমি</th>
                    <th>উৎপাদন</th>
                </tr>
            </thead>
            <tbody>
            <% records.forEach(function(row){ %>
                <tr>
                    <td colspan="10">No data Found</td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    <% } %>
    