<%- include('../../includes/header')-%>
        <div class="wrapper">
          <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>প্রদর্শনীর অগ্রগতির প্রতিবেদন ফর্ম</h2></div>
                                <p><%
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/saao/producedCropEditPost/<%= records.id %>" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>


                                    <div class="form-group">
                                            <label for="done" class="col-md-3 control-label">ফসলের নাম</label>
                                        <select id="done" name="done" value="<%=records.name%>">
                                            <option value="স্থাপিত">স্থাপিত</option>
                                            <option value="সম্পন্ন">সম্পন্ন</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="areaShotero" class="col-md-3 control-label">আয়তন (হেঃ) (২০১৭-১৮)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="areaShotero" placeholder="আয়তন (হেঃ) (২০১৭-১৮)" value="<%=records.areaShotero%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="productionShotero" class="col-md-3 control-label">উৎপাদন (টন) (২০১৭-১৮)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="productionShotero" placeholder="উৎপাদন (টন) (২০১৭-১৮)" value="<%=records.productionShotero%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="areaAtharo" class="col-md-3 control-label">আয়তন (হেঃ) (২০১৮-১৯)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="areaAtharo" placeholder="আয়তন (হেঃ) (২০১৮-১৯)" value="<%=records.areaAtharo%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="productionAtharo" class="col-md-3 control-label">উৎপাদন (টন) (২০১৮-১৯)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="productionAtharo" placeholder="উৎপাদন (টন) (২০১৮-১৯)" value="<%=records.productionAtharo%>"> 
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="areaUnish" class="col-md-3 control-label">আয়তন (হেঃ) (২০১৯-২০)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="areaUnish" placeholder="আয়তন (হেঃ) (২০১৯-২০)" value="<%=records.areaUnish%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="productionUnish" class="col-md-3 control-label">উৎপাদন (টন) (২০১৯-২০)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="productionUnish" placeholder="উৎপাদন (টন) (২০১৯-২০)" value="<%=records.productionUnish%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="areaBish" class="col-md-3 control-label">আয়তন (হেঃ) (২০২০-২১)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="areaBish" placeholder="আয়তন (হেঃ) (২০২০-২১)" value="<%=records.areaBish%>"> 
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="productionBish" class="col-md-3 control-label">উৎপাদন (টন) (২০২০-২১)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="productionBish" placeholder="উৎপাদন (টন) (২০২০-২১)" value="<%=records.productionBish%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="areaEkush" class="col-md-3 control-label">আয়তন (হেঃ) (২০২১-২২)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="areaEkush" placeholder="আয়তন (হেঃ) (২০২১-২২)" value="<%=records.areaEkush%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="productionEkush" class="col-md-3 control-label">উৎপাদন (টন) (২০২১-২২)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="productionEkush" placeholder="উৎপাদন (টন) (২০২১-২২)" value="<%=records.productionEkush%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="areaBaish" class="col-md-3 control-label">আয়তন (হেঃ) (২০২২-২৩)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="areaBaish" placeholder="আয়তন (হেঃ) (২০২২-২৩)" value="<%=records.areaBaish%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="productionBaish" class="col-md-3 control-label">উৎপাদন (টন) (২০২২-২৩)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="productionBaish" placeholder="উৎপাদন (টন) (২০২২-২৩)" value="<%=records.productionBaish%>">
                                        </div>
                                    </div>

                                    
                                            <input type="hidden" class="form-control" name="user_id" placeholder="id" value="<%= user_id %>">
                                        
                                    
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../../includes/footer')-%>