<table class="table table-bordered table-striped" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>ক্র. নং</th>
        <th>বিবরণ</th>
        <th>২০১৭-১৮</th>
        <th>২০১৮-১৯</th>
        <th>২০১৯-২০</th>
        <th>২০২০-২১</th>
        <th>২০২১-২২</th>
        <th>২০২২-২৩</th>
        
    </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>১</td>
                <td>মোট আয়তন</td>
                <td><%= seventeen !== null ? seventeen.ayoton : '0'  %></td>
                <td><%= eighteen !== null ? eighteen.ayoton : '0' %></td>
                <td><%= nineteen !== null ? nineteen.ayoton : '0'  %></td>
                <td><%= twenty !== null ? twenty.ayoton : '0'  %></td>
                <td><%= twentyOne !== null ? twentyOne.ayoton : '0'  %></td>
                <td><%= twentyTwo !== null ? twentyTwo.ayoton : '0'  %></td>
            </tr>
            <tr>
                <td>২</td>
                <td>জনসংখ্যা</td>
            </tr>
            <tr>
                <td></td>
                <td>ক) পুরুষ</td>
                <td><%= seventeen !== null ? seventeen.purush : '0'  %></td>
                <td><%= eighteen !== null ? eighteen.purush : '0' %></td>
                <td><%= nineteen !== null ? nineteen.purush : '0'  %></td>
                <td><%= twenty !== null ? twenty.purush : '0'  %></td>
                <td><%= twentyOne !== null ? twentyOne.purush : '0'  %></td>
                <td><%= twentyTwo !== null ? twentyTwo.purush : '0'  %></td>
            </tr>
            <tr>
                <td></td>
                <td>খ) মহিলা</td>
                <td><%= seventeen !== null ? seventeen.mohila : '0'  %></td>
                <td><%= eighteen !== null ? eighteen.mohila : '0' %></td>
                <td><%= nineteen !== null ? nineteen.mohila : '0'  %></td>
                <td><%= twenty !== null ? twenty.mohila : '0'  %></td>
                <td><%= twentyOne !== null ? twentyOne.mohila : '0'  %></td>
                <td><%= twentyTwo !== null ? twentyTwo.mohila : '0'  %></td>
            </tr>
            <tr>
                <td></td>
                <td>গ) মোট</td>
                <td><%= seventeen !== null ? seventeen.total : '0'  %></td>
                <td><%= eighteen !== null ? eighteen.total : '0' %></td>
                <td><%= nineteen !== null ? nineteen.total : '0'  %></td>
                <td><%= twenty !== null ? twenty.total : '0'  %></td>
                <td><%= twentyOne !== null ? twentyOne.total : '0'  %></td>
                <td><%= twentyTwo !== null ? twentyTwo.total : '0'  %></td>
            </tr>
            <tr>
                <td>৩</td>
                <td>কৃষক পরিবারের সংখ্যা</td>
                <td><%= seventeen !== null ? seventeen.poribar : '0'  %></td>
                <td><%= eighteen !== null ? eighteen.poribar : '0' %></td>
                <td><%= nineteen !== null ? nineteen.poribar : '0'  %></td>
                <td><%= twenty !== null ? twenty.poribar : '0'  %></td>
                <td><%= twentyOne !== null ? twentyOne.poribar : '0'  %></td>
                <td><%= twentyTwo !== null ? twentyTwo.poribar : '0'  %></td>
            </tr>
            <tr>
                <td>৪</td>
                <td>কৃষি ব্লকের সংখ্যা</td>
                <td><%= seventeen !== null ? seventeen.block : '0'  %></td>
                <td><%= eighteen !== null ? eighteen.block : '0' %></td>
                <td><%= nineteen !== null ? nineteen.block : '0'  %></td>
                <td><%= twenty !== null ? twenty.block : '0'  %></td>
                <td><%= twentyOne !== null ? twentyOne.block : '0'  %></td>
                <td><%= twentyTwo !== null ? twentyTwo.block : '0'  %></td>
            </tr>
            <tr>
                <td>৫</td>
                <td>আবাদযোগ্য জমি(হে.)</td>
                <td><%= seventeen !== null ? seventeen.abadjoggo : '0'  %></td>
                <td><%= eighteen !== null ? eighteen.abadjoggo : '0' %></td>
                <td><%= nineteen !== null ? nineteen.abadjoggo : '0'  %></td>
                <td><%= twenty !== null ? twenty.abadjoggo : '0'  %></td>
                <td><%= twentyOne !== null ? twentyOne.abadjoggo : '0'  %></td>
                <td><%= twentyTwo !== null ? twentyTwo.abadjoggo : '0'  %></td>
            </tr>
            <tr>
                <td>৬</td>
                <td>আবাদী জমি (হেক্টর)</td>
                <td><%= seventeen !== null ? seventeen.abadi : '0'  %></td>
                <td><%= eighteen !== null ? eighteen.abadi : '0' %></td>
                <td><%= nineteen !== null ? nineteen.abadi : '0'  %></td>
                <td><%= twenty !== null ? twenty.abadi : '0'  %></td>
                <td><%= twentyOne !== null ? twentyOne.abadi : '0'  %></td>
                <td><%= twentyTwo !== null ? twentyTwo.abadi : '0'  %></td>
            </tr>
            <tr>
                <td>৭</td>
                <td>এক ফসলী</td>
                <td><%= seventeen !== null ? seventeen.ek : '0'  %></td>
                <td><%= eighteen !== null ? eighteen.ek : '0' %></td>
                <td><%= nineteen !== null ? nineteen.ek : '0'  %></td>
                <td><%= twenty !== null ? twenty.ek : '0'  %></td>
                <td><%= twentyOne !== null ? twentyOne.ek : '0'  %></td>
                <td><%= twentyTwo !== null ? twentyTwo.ek : '0'  %></td>
            </tr>
            <tr>
                <td></td>
                <td>দুই ফসলী</td>
                <td><%= seventeen !== null ? seventeen.dui : '0'  %></td>
                <td><%= eighteen !== null ? eighteen.dui : '0' %></td>
                <td><%= nineteen !== null ? nineteen.dui : '0'  %></td>
                <td><%= twenty !== null ? twenty.dui : '0'  %></td>
                <td><%= twentyOne !== null ? twentyOne.dui : '0'  %></td>
                <td><%= twentyTwo !== null ? twentyTwo.dui : '0'  %></td>
            </tr>
            <tr>
                <td></td>
                <td>তিন ফসলী</td>
                <td><%= seventeen !== null ? seventeen.tin : '0'  %></td>
                <td><%= eighteen !== null ? eighteen.tin : '0' %></td>
                <td><%= nineteen !== null ? nineteen.tin : '0'  %></td>
                <td><%= twenty !== null ? twenty.tin : '0'  %></td>
                <td><%= twentyOne !== null ? twentyOne.tin : '0'  %></td>
                <td><%= twentyTwo !== null ? twentyTwo.tin : '0'  %></td>
            </tr>
            <tr>
                <td></td>
                <td>মোট ফসলী</td>
                <td><%= seventeen !== null ? seventeen.mot : '0'  %></td>
                <td><%= eighteen !== null ? eighteen.mot : '0' %></td>
                <td><%= nineteen !== null ? nineteen.mot : '0'  %></td>
                <td><%= twenty !== null ? twenty.mot : '0'  %></td>
                <td><%= twentyOne !== null ? twentyOne.mot : '0'  %></td>
                <td><%= twentyTwo !== null ? twentyTwo.mot : '0'  %></td>
            </tr>
            <tr>
                <td>৮</td>
                <td>ফসলের নিবিড়তা(%)</td>
                <td><%= seventeen !== null ? seventeen.nibirota : '0'  %></td>
                <td><%= eighteen !== null ? eighteen.nibirota : '0' %></td>
                <td><%= nineteen !== null ? nineteen.nibirota : '0'  %></td>
                <td><%= twenty !== null ? twenty.nibirota : '0'  %></td>
                <td><%= twentyOne !== null ? twentyOne.nibirota : '0'  %></td>
                <td><%= twentyTwo !== null ? twentyTwo.nibirota : '0'  %></td>
            </tr>
            <tr>
                <td>৯</td>
                <td>চাষযোগ্য পতিত জমি</td>
                <td><%= seventeen !== null ? seventeen.potito : '0'  %></td>
                <td><%= eighteen !== null ? eighteen.potito : '0' %></td>
                <td><%= nineteen !== null ? nineteen.potito : '0'  %></td>
                <td><%= twenty !== null ? twenty.potito : '0'  %></td>
                <td><%= twentyOne !== null ? twentyOne.potito : '0'  %></td>
                <td><%= twentyTwo !== null ? twentyTwo.potito : '0'  %></td>
            </tr>
            <tr>
                <td>১০</td>
                <td>চলতি পতিত (মোট)</td>
                <td><%= seventeen !== null ? seventeen.cholti : '0'  %></td>
                <td><%= eighteen !== null ? eighteen.cholti : '0' %></td>
                <td><%= nineteen !== null ? nineteen.cholti : '0'  %></td>
                <td><%= twenty !== null ? twenty.cholti : '0'  %></td>
                <td><%= twentyOne !== null ? twentyOne.cholti : '0'  %></td>
                <td><%= twentyTwo !== null ? twentyTwo.cholti : '0'  %></td>
            </tr>
           
        
    </tbody>
</table>