<%- include('../../includes/header')-%>
        <div id="wrapper" class="wrapper">
          <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div class="col-md-10">
                            <h1 class="text-center">ফসলের নাম, জাত ও প্রযুক্তিসমূহ</h1>
                        </div>
                    </div>

                     <!--    cropName -->
                     <div class="card">
                        <div class="card-body">
                            <form action="/pd/add/crop" method="post">
                                <div class="form-row">
                                    <div class="col">
                                        <label for="">ফসলের নাম</label>
                                        <input type="text"  id="crop" name="crop" class="form-control">
                                    </div>
                                    <div class="col">
                                        <label for=""></label>
                                        <input type="submit" value="যোগ করুন ফসল" class="btn btn-primary" >
                                    </div>

                                    <div class="col">
                                        <% cropList.forEach((row) => {
                                        if (row.type === 'crop'){
                                        %>
                                            <span style="margin-right: 2px"> <%= row.name %> </span> |
                                        <%
                                        }
                                        })
                                        %>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--  breedName -->
                    <div class="card">
                        <div class="card-body">
                            <form action="/pd/add/breed" method="post">
                                <div class="form-row">
                                    <div class="col">
                                        <label for="">ফসলের নাম</label>
                                        <select class="form-control" id="crop" name="crop">
                                            <option selected> ফসলের নাম বাছুনঃ </option>
                                            <% cropList.forEach((row) => {
                                            if (row.type === 'crop'){
                                            %>
                                                <option value="<%= row.id %>"> <%= row.name %> </option>
                                            <%
                                            }
                                            })
                                            %>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="">জাত</label>
                                        <input type="text"  id="breed" name="breed" class="form-control">
                                    </div>
                                    <div class="col">
                                        <label for=""></label>
                                        <input type="submit" value="জাত যোগ করুন" class="btn btn-primary">
                                    </div>
                                    <div class="col">
                                        <% cropList.forEach((row) => {
                                        if (row.type === 'breed'){
                                        %>
                                            <span style="margin-right: 2px"> <%= row.name %> </span> |
                                        <%
                                        }
                                        })
                                        %>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                   
                    
                    
                </div>

                
            </div>
        </div>
    </div>

    <%- include('../../includes/footer')-%>
