
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>ক্র. নং</th>
        <th>বিবরণ</th>
        <th>২০১৭-১৮</th>
        <th>২০১৮-১৯</th>
        <th>২০১৯-২০</th>
        <th>২০২০-২১</th>
        <th>২০২১-২২</th>
        <th>২০২২-২৩</th>
        
    </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>১</td>
                <td>মোট আয়তন</td>
                <td><%= seventeen.ayoton %></td>
                <td><%= eighteen.ayoton %></td>
                <td><%= nineteen.ayoton %></td>
                <td><%= twenty.ayoton %></td>
                <td><%= twentyOne.ayoton %></td>
                <td><%= twentyTwo.ayoton %></td>
            </tr>
            <tr>
                <td>২</td>
                <td>জনসংখ্যা</td>
            </tr>
            <tr>
                <td></td>
                <td>ক) পুরুষ</td>
                <td><%= seventeen.purush %></td>
                <td><%= eighteen.purush %></td>
                <td><%= nineteen.purush %></td>
                <td><%= twenty.purush %></td>
                <td><%= twentyOne.purush %></td>
                <td><%= twentyTwo.purush %></td>
            </tr>
            <tr>
                <td></td>
                <td>খ) মহিলা</td>
                <td><%= seventeen.mohila %></td>
                <td><%= eighteen.mohila %></td>
                <td><%= nineteen.mohila %></td>
                <td><%= twenty.mohila %></td>
                <td><%= twentyOne.mohila %></td>
                <td><%= twentyTwo.mohila %></td>
            </tr>
            <tr>
                <td></td>
                <td>গ) মোট</td>
                <td><%= seventeen.total %></td>
                <td><%= eighteen.total %></td>
                <td><%= nineteen.total %></td>
                <td><%= twenty.total %></td>
                <td><%= twentyOne.total %></td>
                <td><%= twentyTwo.total %></td>
            </tr>
            <tr>
                <td>৩</td>
                <td>কৃষক পরিবারের সংখ্যা</td>
                <td><%= seventeen.poribar %></td>
                <td><%= eighteen.poribar %></td>
                <td><%= nineteen.poribar %></td>
                <td><%= twenty.poribar %></td>
                <td><%= twentyOne.poribar %></td>
                <td><%= twentyTwo.poribar %></td>
            </tr>
            <tr>
                <td>৪</td>
                <td>কৃষি ব্লকের সংখ্যা</td>
                <td><%= seventeen.block %></td>
                <td><%= eighteen.block %></td>
                <td><%= nineteen.block %></td>
                <td><%= twenty.block %></td>
                <td><%= twentyOne.block %></td>
                <td><%= twentyTwo.block %></td>
            </tr>
            <tr>
                <td>৫</td>
                <td>আবাদযোগ্য জমি(হে.)</td>
                <td><%= seventeen.abadjoggo %></td>
                <td><%= eighteen.abadjoggo %></td>
                <td><%= nineteen.abadjoggo %></td>
                <td><%= twenty.abadjoggo %></td>
                <td><%= twentyOne.abadjoggo %></td>
                <td><%= twentyTwo.abadjoggo %></td>
            </tr>
            <tr>
                <td>৬</td>
                <td>আবাদী জমি (হেক্টর)</td>
                <td><%= seventeen.abadi %></td>
                <td><%= eighteen.abadi %></td>
                <td><%= nineteen.abadi %></td>
                <td><%= twenty.abadi %></td>
                <td><%= twentyOne.abadi %></td>
                <td><%= twentyTwo.abadi %></td>
            </tr>
            <tr>
                <td>৭</td>
                <td>এক ফসলী</td>
                <td><%= seventeen.ek %></td>
                <td><%= eighteen.ek %></td>
                <td><%= nineteen.ek %></td>
                <td><%= twenty.ek %></td>
                <td><%= twentyOne.ek %></td>
                <td><%= twentyTwo.ek %></td>
            </tr>
            <tr>
                <td></td>
                <td>দুই ফসলী</td>
                <td><%= seventeen.dui %></td>
                <td><%= eighteen.dui %></td>
                <td><%= nineteen.dui %></td>
                <td><%= twenty.dui %></td>
                <td><%= twentyOne.dui %></td>
                <td><%= twentyTwo.dui %></td>
            </tr>
            <tr>
                <td></td>
                <td>তিন ফসলী</td>
                <td><%= seventeen.tin %></td>
                <td><%= eighteen.tin %></td>
                <td><%= nineteen.tin %></td>
                <td><%= twenty.tin %></td>
                <td><%= twentyOne.tin %></td>
                <td><%= twentyTwo.tin %></td>
            </tr>
            <tr>
                <td></td>
                <td>মোট ফসলী</td>
                <td><%= seventeen.mot %></td>
                <td><%= eighteen.mot %></td>
                <td><%= nineteen.mot %></td>
                <td><%= twenty.mot %></td>
                <td><%= twentyOne.mot %></td>
                <td><%= twentyTwo.mot %></td>
            </tr>
            <tr>
                <td>৮</td>
                <td>ফসলের নিবিড়তা(%)</td>
                <td><%= seventeen.nibirota %></td>
                <td><%= eighteen.nibirota %></td>
                <td><%= nineteen.nibirota %></td>
                <td><%= twenty.nibirota %></td>
                <td><%= twentyOne.nibirota %></td>
                <td><%= twentyTwo.nibirota %></td>
            </tr>
            <tr>
                <td>৯</td>
                <td>চাষযোগ্য পতিত জমি</td>
                <td><%= seventeen.potito %></td>
                <td><%= eighteen.potito %></td>
                <td><%= nineteen.potito %></td>
                <td><%= twenty.potito %></td>
                <td><%= twentyOne.potito %></td>
                <td><%= twentyTwo.potito %></td>
            </tr>
            <tr>
                <td>১০</td>
                <td>চলতি পতিত (মোট)</td>
                <td><%= seventeen.cholti %></td>
                <td><%= eighteen.cholti %></td>
                <td><%= nineteen.cholti %></td>
                <td><%= twenty.cholti %></td>
                <td><%= twentyOne.cholti %></td>
                <td><%= twentyTwo.cholti %></td>
            </tr>
            <tr>
                <td><a class="btn btn-primary btn-xs" href="/edit/<%= row.id %>"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger btn-xs" href="/delete/<%= row.id %>"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        
    </tbody>
</table>