
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>ক্র. নং</th>
            <th>বিবরণ</th>
            <th>২০১৭-১৮</th>
            <th>২০১৮-১৯</th>
            <th>২০১৯-২০</th>
            <th>২০২০-২১</th>
            <th>২০২১-২২</th>
            <th>২০২২-২৩</th>
            
        </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>১</td>
                    <td>ধান (আউশ)(আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.ayoton %></td>
                    <td><%= eighteen.ayoton %></td>
                    <td><%= nineteen.ayoton %></td>
                    <td><%= twenty.ayoton %></td>
                    <td><%= twentyOne.ayoton %></td>
                    <td><%= twentyTwo.ayoton %></td>
                </tr>
                <tr>
                    <td>২</td>
                    <td>ধান (আউশ)(উৎপাদন টন)</td>
                    <td><%= seventeen.ayoton %></td>
                    <td><%= eighteen.ayoton %></td>
                    <td><%= nineteen.ayoton %></td>
                    <td><%= twenty.ayoton %></td>
                    <td><%= twentyOne.ayoton %></td>
                    <td><%= twentyTwo.ayoton %></td>
                </tr>
                <tr>
                    <td>৩</td>
                    <td>ধান (আমন)(আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.purush %></td>
                    <td><%= eighteen.purush %></td>
                    <td><%= nineteen.purush %></td>
                    <td><%= twenty.purush %></td>
                    <td><%= twentyOne.purush %></td>
                    <td><%= twentyTwo.purush %></td>
                </tr>
                <tr>
                    <td>৪</td>
                    <td>ধান (আমন)(উৎপাদন টন)</td>
                    <td><%= seventeen.mohila %></td>
                    <td><%= eighteen.mohila %></td>
                    <td><%= nineteen.mohila %></td>
                    <td><%= twenty.mohila %></td>
                    <td><%= twentyOne.mohila %></td>
                    <td><%= twentyTwo.mohila %></td>
                </tr>
                <tr>
                    <td>৫</td>
                    <td>ধান (বোরো)(আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.total %></td>
                    <td><%= eighteen.total %></td>
                    <td><%= nineteen.total %></td>
                    <td><%= twenty.total %></td>
                    <td><%= twentyOne.total %></td>
                    <td><%= twentyTwo.total %></td>
                </tr>
                <tr>
                    <td>৬</td>
                    <td>ধান (বোরো)(উৎপাদন টন)</td>
                    <td><%= seventeen.poribar %></td>
                    <td><%= eighteen.poribar %></td>
                    <td><%= nineteen.poribar %></td>
                    <td><%= twenty.poribar %></td>
                    <td><%= twentyOne.poribar %></td>
                    <td><%= twentyTwo.poribar %></td>
                </tr>
                <tr>
                    <td>৭</td>
                    <td>ধান (হাইব্রিড)(আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.block %></td>
                    <td><%= eighteen.block %></td>
                    <td><%= nineteen.block %></td>
                    <td><%= twenty.block %></td>
                    <td><%= twentyOne.block %></td>
                    <td><%= twentyTwo.block %></td>
                </tr>
                <tr>
                    <td>৮</td>
                    <td>ধান (হাইব্রিড)(আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.abadjoggo %></td>
                    <td><%= eighteen.abadjoggo %></td>
                    <td><%= nineteen.abadjoggo %></td>
                    <td><%= twenty.abadjoggo %></td>
                    <td><%= twentyOne.abadjoggo %></td>
                    <td><%= twentyTwo.abadjoggo %></td>
                </tr>
                <tr>
                    <td>৯</td>
                    <td>ধান (হাইব্রিড)(আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.abadi %></td>
                    <td><%= eighteen.abadi %></td>
                    <td><%= nineteen.abadi %></td>
                    <td><%= twenty.abadi %></td>
                    <td><%= twentyOne.abadi %></td>
                    <td><%= twentyTwo.abadi %></td>
                </tr>
                <tr>
                    <td>১০</td>
                    <td>গম (আবাদী জমি)</td>
                    <td><%= seventeen.ek %></td>
                    <td><%= eighteen.ek %></td>
                    <td><%= nineteen.ek %></td>
                    <td><%= twenty.ek %></td>
                    <td><%= twentyOne.ek %></td>
                    <td><%= twentyTwo.ek %></td>
                </tr>
                <tr>
                    <td>১১</td>
                    <td>গম (উৎপাদন টন)</td>
                    <td><%= seventeen.dui %></td>
                    <td><%= eighteen.dui %></td>
                    <td><%= nineteen.dui %></td>
                    <td><%= twenty.dui %></td>
                    <td><%= twentyOne.dui %></td>
                    <td><%= twentyTwo.dui %></td>
                </tr>
                <tr>
                    <td>১২</td>
                    <td>ভূট্টা (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.tin %></td>
                    <td><%= eighteen.tin %></td>
                    <td><%= nineteen.tin %></td>
                    <td><%= twenty.tin %></td>
                    <td><%= twentyOne.tin %></td>
                    <td><%= twentyTwo.tin %></td>
                </tr>
                <tr>
                    <td>১৩</td>
                    <td>ভূট্টা (উৎপাদন টন)</td>
                    <td><%= seventeen.mot %></td>
                    <td><%= eighteen.mot %></td>
                    <td><%= nineteen.mot %></td>
                    <td><%= twenty.mot %></td>
                    <td><%= twentyOne.mot %></td>
                    <td><%= twentyTwo.mot %></td>
                </tr>
                <tr>
                    <td>১৪</td>
                    <td>বার্লি (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.nibirota %></td>
                    <td><%= eighteen.nibirota %></td>
                    <td><%= nineteen.nibirota %></td>
                    <td><%= twenty.nibirota %></td>
                    <td><%= twentyOne.nibirota %></td>
                    <td><%= twentyTwo.nibirota %></td>
                </tr>
                <tr>
                    <td>১৫</td>
                    <td>বার্লি (উৎপাদন টন)</td>
                    <td><%= seventeen.potito %></td>
                    <td><%= eighteen.potito %></td>
                    <td><%= nineteen.potito %></td>
                    <td><%= twenty.potito %></td>
                    <td><%= twentyOne.potito %></td>
                    <td><%= twentyTwo.potito %></td>
                </tr>
                <tr>
                    <td>১৬</td>
                    <td>পাট (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.cholti %></td>
                    <td><%= eighteen.cholti %></td>
                    <td><%= nineteen.cholti %></td>
                    <td><%= twenty.cholti %></td>
                    <td><%= twentyOne.cholti %></td>
                    <td><%= twentyTwo.cholti %></td>
                </tr>
                <tr>
                    <td>১৭</td>
                    <td>পাট (উৎপাদন টন)</td>
                    <td><%= seventeen.ek %></td>
                    <td><%= eighteen.ek %></td>
                    <td><%= nineteen.ek %></td>
                    <td><%= twenty.ek %></td>
                    <td><%= twentyOne.ek %></td>
                    <td><%= twentyTwo.ek %></td>
                </tr>
                <tr>
                    <td>১৮</td>
                    <td>মুগ (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.dui %></td>
                    <td><%= eighteen.dui %></td>
                    <td><%= nineteen.dui %></td>
                    <td><%= twenty.dui %></td>
                    <td><%= twentyOne.dui %></td>
                    <td><%= twentyTwo.dui %></td>
                </tr>
                <tr>
                    <td>১৯</td>
                    <td>মুগ (উৎপাদন টন)</td>
                    <td><%= seventeen.tin %></td>
                    <td><%= eighteen.tin %></td>
                    <td><%= nineteen.tin %></td>
                    <td><%= twenty.tin %></td>
                    <td><%= twentyOne.tin %></td>
                    <td><%= twentyTwo.tin %></td>
                </tr>
                <tr>
                    <td>২০</td>
                    <td>খেসারি (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.mot %></td>
                    <td><%= eighteen.mot %></td>
                    <td><%= nineteen.mot %></td>
                    <td><%= twenty.mot %></td>
                    <td><%= twentyOne.mot %></td>
                    <td><%= twentyTwo.mot %></td>
                </tr>
                <tr>
                    <td>২১</td>
                    <td>খেসারি (উৎপাদন টন)</td>
                    <td><%= seventeen.nibirota %></td>
                    <td><%= eighteen.nibirota %></td>
                    <td><%= nineteen.nibirota %></td>
                    <td><%= twenty.nibirota %></td>
                    <td><%= twentyOne.nibirota %></td>
                    <td><%= twentyTwo.nibirota %></td>
                </tr>
                <tr>
                    <td>২২</td>
                    <td>ফেলন (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.potito %></td>
                    <td><%= eighteen.potito %></td>
                    <td><%= nineteen.potito %></td>
                    <td><%= twenty.potito %></td>
                    <td><%= twentyOne.potito %></td>
                    <td><%= twentyTwo.potito %></td>
                </tr>
                <tr>
                    <td>২৩</td>
                    <td>ফেলন (উৎপাদন টন)</td>
                    <td><%= seventeen.cholti %></td>
                    <td><%= eighteen.cholti %></td>
                    <td><%= nineteen.cholti %></td>
                    <td><%= twenty.cholti %></td>
                    <td><%= twentyOne.cholti %></td>
                    <td><%= twentyTwo.cholti %></td>
                </tr>
                <tr>
                    <td>২৪</td>
                    <td>সরিষা (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.ek %></td>
                    <td><%= eighteen.ek %></td>
                    <td><%= nineteen.ek %></td>
                    <td><%= twenty.ek %></td>
                    <td><%= twentyOne.ek %></td>
                    <td><%= twentyTwo.ek %></td>
                </tr>
                <tr>
                    <td>২৫</td>
                    <td>সরিষা (উৎপাদন টন)</td>
                    <td><%= seventeen.dui %></td>
                    <td><%= eighteen.dui %></td>
                    <td><%= nineteen.dui %></td>
                    <td><%= twenty.dui %></td>
                    <td><%= twentyOne.dui %></td>
                    <td><%= twentyTwo.dui %></td>
                </tr>
                <tr>
                    <td>২৬</td>
                    <td>তিল (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.tin %></td>
                    <td><%= eighteen.tin %></td>
                    <td><%= nineteen.tin %></td>
                    <td><%= twenty.tin %></td>
                    <td><%= twentyOne.tin %></td>
                    <td><%= twentyTwo.tin %></td>
                </tr>
                <tr>
                    <td>২৭</td>
                    <td>তিল (উৎপাদন টন)</td>
                    <td><%= seventeen.mot %></td>
                    <td><%= eighteen.mot %></td>
                    <td><%= nineteen.mot %></td>
                    <td><%= twenty.mot %></td>
                    <td><%= twentyOne.mot %></td>
                    <td><%= twentyTwo.mot %></td>
                </tr>
                <tr>
                    <td>২৮</td>
                    <td>সয়াবিন (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.nibirota %></td>
                    <td><%= eighteen.nibirota %></td>
                    <td><%= nineteen.nibirota %></td>
                    <td><%= twenty.nibirota %></td>
                    <td><%= twentyOne.nibirota %></td>
                    <td><%= twentyTwo.nibirota %></td>
                </tr>
                <tr>
                    <td>২৯</td>
                    <td>সয়াবিন (উৎপাদন টন)</td>
                    <td><%= seventeen.potito %></td>
                    <td><%= eighteen.potito %></td>
                    <td><%= nineteen.potito %></td>
                    <td><%= twenty.potito %></td>
                    <td><%= twentyOne.potito %></td>
                    <td><%= twentyTwo.potito %></td>
                </tr>
                <tr>
                    <td>৩০</td>
                    <td>চীনাবাদাম (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.cholti %></td>
                    <td><%= eighteen.cholti %></td>
                    <td><%= nineteen.cholti %></td>
                    <td><%= twenty.cholti %></td>
                    <td><%= twentyOne.cholti %></td>
                    <td><%= twentyTwo.cholti %></td>
                </tr>
                <tr>
                    <td>৩১</td>
                    <td>চীনাবাদাম (উৎপাদন টন)</td>
                    <td><%= seventeen.ek %></td>
                    <td><%= eighteen.ek %></td>
                    <td><%= nineteen.ek %></td>
                    <td><%= twenty.ek %></td>
                    <td><%= twentyOne.ek %></td>
                    <td><%= twentyTwo.ek %></td>
                </tr>
                <tr>
                    <td>৩২</td>
                    <td>সূর্যমূখী (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.dui %></td>
                    <td><%= eighteen.dui %></td>
                    <td><%= nineteen.dui %></td>
                    <td><%= twenty.dui %></td>
                    <td><%= twentyOne.dui %></td>
                    <td><%= twentyTwo.dui %></td>
                </tr>
                <tr>
                    <td>৩৩</td>
                    <td>সূর্যমূখী (উৎপাদন টন)</td>
                    <td><%= seventeen.tin %></td>
                    <td><%= eighteen.tin %></td>
                    <td><%= nineteen.tin %></td>
                    <td><%= twenty.tin %></td>
                    <td><%= twentyOne.tin %></td>
                    <td><%= twentyTwo.tin %></td>
                </tr>
                <tr>
                    <td>৩৪</td>
                    <td>পিঁয়াজ (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.mot %></td>
                    <td><%= eighteen.mot %></td>
                    <td><%= nineteen.mot %></td>
                    <td><%= twenty.mot %></td>
                    <td><%= twentyOne.mot %></td>
                    <td><%= twentyTwo.mot %></td>
                </tr>
                <tr>
                    <td>৩৫</td>
                    <td>পিঁয়াজ (উৎপাদন টন)</td>
                    <td><%= seventeen.nibirota %></td>
                    <td><%= eighteen.nibirota %></td>
                    <td><%= nineteen.nibirota %></td>
                    <td><%= twenty.nibirota %></td>
                    <td><%= twentyOne.nibirota %></td>
                    <td><%= twentyTwo.nibirota %></td>
                </tr>
                <tr>
                    <td>৩৬</td>
                    <td>রসুন (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.potito %></td>
                    <td><%= eighteen.potito %></td>
                    <td><%= nineteen.potito %></td>
                    <td><%= twenty.potito %></td>
                    <td><%= twentyOne.potito %></td>
                    <td><%= twentyTwo.potito %></td>
                </tr>
                <tr>
                    <td>৩৭</td>
                    <td>রসুন (উৎপাদন টন)</td>
                    <td><%= seventeen.cholti %></td>
                    <td><%= eighteen.cholti %></td>
                    <td><%= nineteen.cholti %></td>
                    <td><%= twenty.cholti %></td>
                    <td><%= twentyOne.cholti %></td>
                    <td><%= twentyTwo.cholti %></td>
                </tr>
                <tr>
                    <td>৩৮</td>
                    <td>হলুদ (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.ek %></td>
                    <td><%= eighteen.ek %></td>
                    <td><%= nineteen.ek %></td>
                    <td><%= twenty.ek %></td>
                    <td><%= twentyOne.ek %></td>
                    <td><%= twentyTwo.ek %></td>
                </tr>
                <tr>
                    <td>৩৯</td>
                    <td>হলুদ (উৎপাদন টন))</td>
                    <td><%= seventeen.dui %></td>
                    <td><%= eighteen.dui %></td>
                    <td><%= nineteen.dui %></td>
                    <td><%= twenty.dui %></td>
                    <td><%= twentyOne.dui %></td>
                    <td><%= twentyTwo.dui %></td>
                </tr>
                <tr>
                    <td>৪০</td>
                    <td>আলু (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.tin %></td>
                    <td><%= eighteen.tin %></td>
                    <td><%= nineteen.tin %></td>
                    <td><%= twenty.tin %></td>
                    <td><%= twentyOne.tin %></td>
                    <td><%= twentyTwo.tin %></td>
                </tr>
                <tr>
                    <td>৪১</td>
                    <td>আলু (উৎপাদন টন)</td>
                    <td><%= seventeen.mot %></td>
                    <td><%= eighteen.mot %></td>
                    <td><%= nineteen.mot %></td>
                    <td><%= twenty.mot %></td>
                    <td><%= twentyOne.mot %></td>
                    <td><%= twentyTwo.mot %></td>
                </tr>
                <tr>
                    <td>৪২</td>
                    <td>বেগুন (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.nibirota %></td>
                    <td><%= eighteen.nibirota %></td>
                    <td><%= nineteen.nibirota %></td>
                    <td><%= twenty.nibirota %></td>
                    <td><%= twentyOne.nibirota %></td>
                    <td><%= twentyTwo.nibirota %></td>
                </tr>
                <tr>
                    <td>৪৩</td>
                    <td>বেগুন (উৎপাদন টন)</td>
                    <td><%= seventeen.potito %></td>
                    <td><%= eighteen.potito %></td>
                    <td><%= nineteen.potito %></td>
                    <td><%= twenty.potito %></td>
                    <td><%= twentyOne.potito %></td>
                    <td><%= twentyTwo.potito %></td>
                </tr>
                <tr>
                    <td>৪৪</td>
                    <td>টমেটো (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.cholti %></td>
                    <td><%= eighteen.cholti %></td>
                    <td><%= nineteen.cholti %></td>
                    <td><%= twenty.cholti %></td>
                    <td><%= twentyOne.cholti %></td>
                    <td><%= twentyTwo.cholti %></td>
                </tr>
                <tr>
                    <td>৪৫</td>
                    <td>টমেটো (উৎপাদন টন)</td>
                    <td><%= seventeen.tin %></td>
                    <td><%= eighteen.tin %></td>
                    <td><%= nineteen.tin %></td>
                    <td><%= twenty.tin %></td>
                    <td><%= twentyOne.tin %></td>
                    <td><%= twentyTwo.tin %></td>
                </tr>
                <tr>
                    <td>৪৬</td>
                    <td>ঢেঁড়স (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.mot %></td>
                    <td><%= eighteen.mot %></td>
                    <td><%= nineteen.mot %></td>
                    <td><%= twenty.mot %></td>
                    <td><%= twentyOne.mot %></td>
                    <td><%= twentyTwo.mot %></td>
                </tr>
                <tr>
                    <td>৪৭</td>
                    <td>ঢেঁড়স (উৎপাদন টন)</td>
                    <td><%= seventeen.nibirota %></td>
                    <td><%= eighteen.nibirota %></td>
                    <td><%= nineteen.nibirota %></td>
                    <td><%= twenty.nibirota %></td>
                    <td><%= twentyOne.nibirota %></td>
                    <td><%= twentyTwo.nibirota %></td>
                </tr>
                <tr>
                    <td>৯</td>
                    <td>পুইশাক/ডাটা (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.potito %></td>
                    <td><%= eighteen.potito %></td>
                    <td><%= nineteen.potito %></td>
                    <td><%= twenty.potito %></td>
                    <td><%= twentyOne.potito %></td>
                    <td><%= twentyTwo.potito %></td>
                </tr>
                <tr>
                    <td>১০</td>
                    <td>পুইশাক/ডাটা (উৎপাদন টন)</td>
                    <td><%= seventeen.cholti %></td>
                    <td><%= eighteen.cholti %></td>
                    <td><%= nineteen.cholti %></td>
                    <td><%= twenty.cholti %></td>
                    <td><%= twentyOne.cholti %></td>
                    <td><%= twentyTwo.cholti %></td>
                </tr>
                <tr>
                    <td>৭</td>
                    <td>কুমড়াজাতীয় (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.ek %></td>
                    <td><%= eighteen.ek %></td>
                    <td><%= nineteen.ek %></td>
                    <td><%= twenty.ek %></td>
                    <td><%= twentyOne.ek %></td>
                    <td><%= twentyTwo.ek %></td>
                </tr>
                <tr>
                    <td></td>
                    <td>কুমড়াজাতীয় (উৎপাদন টন))</td>
                    <td><%= seventeen.dui %></td>
                    <td><%= eighteen.dui %></td>
                    <td><%= nineteen.dui %></td>
                    <td><%= twenty.dui %></td>
                    <td><%= twentyOne.dui %></td>
                    <td><%= twentyTwo.dui %></td>
                </tr>
                <tr>
                    <td></td>
                    <td>সীম/বরবটি (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.tin %></td>
                    <td><%= eighteen.tin %></td>
                    <td><%= nineteen.tin %></td>
                    <td><%= twenty.tin %></td>
                    <td><%= twentyOne.tin %></td>
                    <td><%= twentyTwo.tin %></td>
                </tr>
                <tr>
                    <td></td>
                    <td>সীম/বরবটি (উৎপাদন টন)</td>
                    <td><%= seventeen.mot %></td>
                    <td><%= eighteen.mot %></td>
                    <td><%= nineteen.mot %></td>
                    <td><%= twenty.mot %></td>
                    <td><%= twentyOne.mot %></td>
                    <td><%= twentyTwo.mot %></td>
                </tr>
                <tr>
                    <td>৮</td>
                    <td>আম (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.nibirota %></td>
                    <td><%= eighteen.nibirota %></td>
                    <td><%= nineteen.nibirota %></td>
                    <td><%= twenty.nibirota %></td>
                    <td><%= twentyOne.nibirota %></td>
                    <td><%= twentyTwo.nibirota %></td>
                </tr>
                <tr>
                    <td>৯</td>
                    <td>আম (উৎপাদন টন)</td>
                    <td><%= seventeen.potito %></td>
                    <td><%= eighteen.potito %></td>
                    <td><%= nineteen.potito %></td>
                    <td><%= twenty.potito %></td>
                    <td><%= twentyOne.potito %></td>
                    <td><%= twentyTwo.potito %></td>
                </tr>
                <tr>
                    <td>৯</td>
                    <td>পেয়ারা (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.potito %></td>
                    <td><%= eighteen.potito %></td>
                    <td><%= nineteen.potito %></td>
                    <td><%= twenty.potito %></td>
                    <td><%= twentyOne.potito %></td>
                    <td><%= twentyTwo.potito %></td>
                </tr>
                <tr>
                    <td>১০</td>
                    <td>পেয়ারা (উৎপাদন টন)</td>
                    <td><%= seventeen.cholti %></td>
                    <td><%= eighteen.cholti %></td>
                    <td><%= nineteen.cholti %></td>
                    <td><%= twenty.cholti %></td>
                    <td><%= twentyOne.cholti %></td>
                    <td><%= twentyTwo.cholti %></td>
                </tr>
                <tr>
                    <td>৭</td>
                    <td>কলা (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.ek %></td>
                    <td><%= eighteen.ek %></td>
                    <td><%= nineteen.ek %></td>
                    <td><%= twenty.ek %></td>
                    <td><%= twentyOne.ek %></td>
                    <td><%= twentyTwo.ek %></td>
                </tr>
                <tr>
                    <td></td>
                    <td>কলা (উৎপাদন টন))</td>
                    <td><%= seventeen.dui %></td>
                    <td><%= eighteen.dui %></td>
                    <td><%= nineteen.dui %></td>
                    <td><%= twenty.dui %></td>
                    <td><%= twentyOne.dui %></td>
                    <td><%= twentyTwo.dui %></td>
                </tr>
                <tr>
                    <td></td>
                    <td>পেঁপে (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.tin %></td>
                    <td><%= eighteen.tin %></td>
                    <td><%= nineteen.tin %></td>
                    <td><%= twenty.tin %></td>
                    <td><%= twentyOne.tin %></td>
                    <td><%= twentyTwo.tin %></td>
                </tr>
                <tr>
                    <td></td>
                    <td>পেঁপে (উৎপাদন টন)</td>
                    <td><%= seventeen.mot %></td>
                    <td><%= eighteen.mot %></td>
                    <td><%= nineteen.mot %></td>
                    <td><%= twenty.mot %></td>
                    <td><%= twentyOne.mot %></td>
                    <td><%= twentyTwo.mot %></td>
                </tr>
                <tr>
                    <td>৮</td>
                    <td>সফেদা (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.nibirota %></td>
                    <td><%= eighteen.nibirota %></td>
                    <td><%= nineteen.nibirota %></td>
                    <td><%= twenty.nibirota %></td>
                    <td><%= twentyOne.nibirota %></td>
                    <td><%= twentyTwo.nibirota %></td>
                </tr>
                <tr>
                    <td>৯</td>
                    <td>সফেদা (উৎপাদন টন)</td>
                    <td><%= seventeen.potito %></td>
                    <td><%= eighteen.potito %></td>
                    <td><%= nineteen.potito %></td>
                    <td><%= twenty.potito %></td>
                    <td><%= twentyOne.potito %></td>
                    <td><%= twentyTwo.potito %></td>
                </tr>
                <tr>
                    <td>৮</td>
                    <td>মাল্টা (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.nibirota %></td>
                    <td><%= eighteen.nibirota %></td>
                    <td><%= nineteen.nibirota %></td>
                    <td><%= twenty.nibirota %></td>
                    <td><%= twentyOne.nibirota %></td>
                    <td><%= twentyTwo.nibirota %></td>
                </tr>
                <tr>
                    <td>৯</td>
                    <td>মাল্টা (উৎপাদন টন)</td>
                    <td><%= seventeen.potito %></td>
                    <td><%= eighteen.potito %></td>
                    <td><%= nineteen.potito %></td>
                    <td><%= twenty.potito %></td>
                    <td><%= twentyOne.potito %></td>
                    <td><%= twentyTwo.potito %></td>
                </tr>
                <tr>
                    <td>৯</td>
                    <td>কুল (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.potito %></td>
                    <td><%= eighteen.potito %></td>
                    <td><%= nineteen.potito %></td>
                    <td><%= twenty.potito %></td>
                    <td><%= twentyOne.potito %></td>
                    <td><%= twentyTwo.potito %></td>
                </tr>
                <tr>
                    <td>১০</td>
                    <td>কুল (উৎপাদন টন)</td>
                    <td><%= seventeen.cholti %></td>
                    <td><%= eighteen.cholti %></td>
                    <td><%= nineteen.cholti %></td>
                    <td><%= twenty.cholti %></td>
                    <td><%= twentyOne.cholti %></td>
                    <td><%= twentyTwo.cholti %></td>
                </tr>
                <tr>
                    <td>৭</td>
                    <td>তরমুজ (আবাদী জমি হেঃ)</td>
                    <td><%= seventeen.ek %></td>
                    <td><%= eighteen.ek %></td>
                    <td><%= nineteen.ek %></td>
                    <td><%= twenty.ek %></td>
                    <td><%= twentyOne.ek %></td>
                    <td><%= twentyTwo.ek %></td>
                </tr>
                <tr>
                    <td></td>
                    <td>তরমুজ (উৎপাদন টন))</td>
                    <td><%= seventeen.dui %></td>
                    <td><%= eighteen.dui %></td>
                    <td><%= nineteen.dui %></td>
                    <td><%= twenty.dui %></td>
                    <td><%= twentyOne.dui %></td>
                    <td><%= twentyTwo.dui %></td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-xs" href="/edit/<%= row.id %>"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger btn-xs" href="/delete/<%= row.id %>"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            
        </tbody>
    </table>