<%- include('../../includes/header')-%>
        <div class="wrapper">
          <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>ফসল আবাদ অগ্রগতি ফর্ম</h2></div>
                                <p><%
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/upazilla/cropExpansionFormPost" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="name" class="col-md-3 control-label">ফসলের নাম</label>
                                        <div class="col-md-9">
                                            <select name="name" id="name" class="form-control">
                                                <option value="">ফসলের নাম</option>
                                                <% data.forEach(function(row){ %>
                                                        <option value=<%= row.name %>><%= row.name %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="production" class="row-md-4 control-label">বছরঃ ২০১৭-১৮</label>
                                        <div class="row">
                                            <div class="col">
                                                <input type="number" class="form-control" name="productionShotero" placeholder="আবাদী জমি">
                                            </div>
                                            <div class="col">
                                                <input type="number" class="form-control" name="areaShotero" placeholder="উৎপাদন">
                                            </div>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="production" class="row-md-4 control-label">বছরঃ ২০১৮-১৯</label>
                                        <div class="row">
                                            <div class="col">
                                                <input type="number" class="form-control" name="productionAtharo" placeholder="আবাদী জমি">
                                            </div>
                                            <div class="col">
                                                <input type="number" class="form-control" name="areaAtharo" placeholder="উৎপাদন">
                                            </div>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="production" class="row-md-4 control-label">বছরঃ ২০১৯-২০</label>
                                        <div class="row">
                                            <div class="col">
                                                <input type="number" class="form-control" name="productionUnish" placeholder="আবাদী জমি">
                                            </div>
                                            <div class="col">
                                                <input type="number" class="form-control" name="areaUnish" placeholder="উৎপাদন">
                                            </div>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="production" class="row-md-4 control-label">বছরঃ ২০২০-২১</label>
                                        <div class="row">
                                            <div class="col">
                                                <input type="number" class="form-control" name="productionBish" placeholder="আবাদী জমি">
                                            </div>
                                            <div class="col">
                                                <input type="number" class="form-control" name="areaBish" placeholder="উৎপাদন">
                                            </div>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="production" class="row-md-4 control-label">বছরঃ ২০২১-২২</label>
                                        <div class="row">
                                            <div class="col">
                                                <input type="number" class="form-control" name="productionEkush" placeholder="আবাদী জমি">
                                            </div>
                                            <div class="col">
                                                <input type="number" class="form-control" name="areaEkush" placeholder="উৎপাদন">
                                            </div>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="production" class="row-md-4 control-label">বছরঃ ২০২২-২৩</label>
                                        <div class="row">
                                            <div class="col">
                                                <input type="number" class="form-control" name="productionBaish" placeholder="আবাদী জমি">
                                            </div>
                                            <div class="col">
                                                <input type="number" class="form-control" name="areaBaish" placeholder="উৎপাদন">
                                            </div>
                                          </div>
                                    </div>

                                    

                                            <input type="hidden" class="form-control" name="user_id" placeholder="id" value="<%= user_id %>">
                                            <input type="hidden" class="form-control" name="dd" placeholder="dd_id" value="<%= dd %>">
                                        
                                    
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../../includes/footer')-%>
