<%- include('../../includes/header')-%>
        <div class="wrapper">
          <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>প্রকল্প এলাকার ফসলের জাত সম্প্রসারণ ফর্ম</h2></div>
                                <p><%
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/upazilla/breedExpansionFormPost" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>

                                        
        
                                    <div class="form-group">
                                        <label for="name" class="col-md-3 control-label">ফসলের নাম</label>
                                        <div class="col-md-9">
                                            <select name="name" id="name" class="form-control">
                                                <option value="">ফসলের নাম</option>
                                                <% data.forEach(function(row){ %>
                                                        <option value=<%= row.name %>><%= row.name %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col">
                                        <label for="breed" class="col control-label">জাতের নাম</label>
                                        <select name="breed" id="breed" class="form-control">
                                            <option value="" selected="true" disabled="true">জাতের নাম</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="areaShotero" class="col-md-3 control-label">আবাদী জমি (২০১৭-১৮)</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" name="areaShotero" placeholder="আবাদী জমি (২০১৭-১৮)">
                                        </div>
                                    </div>

                                    

                                    <div class="form-group">
                                        <label for="areaAtharo" class="col-md-3 control-label">আবাদী জমি (২০১৮-১৯)</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" name="areaAtharo" placeholder="আবাদী জমি (২০১৮-১৯)">
                                        </div>
                                    </div>

                                    

                                    <div class="form-group">
                                        <label for="areaUnish" class="col-md-3 control-label">আবাদী জমি (২০১৯-২০)</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" name="areaUnish" placeholder="আবাদী জমি (২০১৯-২০)">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="areaBish" class="col-md-3 control-label">আবাদী জমি (২০২০-২১)</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" name="areaBish" placeholder="আবাদী জমি (২০২০-২১)">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="areaEkush" class="col-md-3 control-label">আবাদী জমি (২০২১-২২)</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" name="areaEkush" placeholder="আবাদী জমি (২০২১-২২)">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="areaBaish" class="col-md-3 control-label">আবাদী জমি (২০২২-২৩)</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" name="areaBaish" placeholder="আবাদী জমি (২০২২-২৩)">
                                        </div>
                                    </div>

                                    

                                    
                                            <input type="hidden" class="form-control" name="user_id" placeholder="id" value="<%= user_id %>">
                                        
                                    
                                    
                                    
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../../includes/footer')-%>

<script>
    $('#name').on("change",function () {
    var name = $('#name').val();
    $.ajax({
        type: "POST",
        url: "/upazilla/fetchBreed",
        data: {name: name},
        datatype: "json",
        beforeSend: function() {
            // setting a timeout
            $('#breed').empty();
        },
        success: function (data) {
            $('#breed').empty();
            if(data){
                $('#breed').append('<option value="0">জাতের নাম</option>');
                $.each(data, function(key, value){
                    $('#breed').append('<option value="'+value.name+'">' + value.name + '</option>');
                });
            }else {
                $('#breed').empty();
            }
        },
        complete: function() {
            $('#loading').hide();
            $('#output').show();
        }
    });
});
</script>