<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th rowspan="2">ক্রমিক নং</th>
                <th rowspan="2">প্রযুক্তির নাম</th>
                <th colspan="6">ব্যবহারকারীর (সংখ্যা)</th>
                <th colspan="6">ব্যবহৃত জমি</th>
            </tr>
            <tr>
                <th>২০১৭-১৮</th>
                <th>২০১৮-১৯</th>
                <th>২০১৯-২০</th>
                <th>২০২০-২১</th>
                <th>২০২১-২২</th>
                <th>২০২২-২৩</th>
                <th>২০১৭-১৮</th>
                <th>২০১৮-১৯</th>
                <th>২০১৯-২০</th>
                <th>২০২০-২১</th>
                <th>২০২১-২২</th>
                <th>২০২২-২৩</th>
            </tr>
        </thead>
    <tbody>
        <% records.forEach(function(row,index){ %>
            <tr>
                <td><%= index+1 %></td>
                <td><%= row.technology %></td>
                <td><%= row.userShotero %></td>
                <td><%= row.userAtharo %></td>
                <td><%= row.userUnish %></td>
                <td><%= row.userBish %></td>
                <td><%= row.userEkush %></td>
                <td><%= row.userBaish %></td>
                <td><%= row.areaShotero %></td>
                <td><%= row.areaAtharo %></td>
                <td><%= row.areaUnish %></td>
                <td><%= row.areaBish %></td>
                <td><%= row.areaEkush %></td>
                <td><%= row.areaBaish %></td>
                
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th rowspan="2">ক্রমিক নং</th>
                <th rowspan="2">প্রযুক্তির নাম</th>
                <th colspan="6">ব্যবহারকারীর (সংখ্যা)</th>
                <th colspan="6">ব্যবহৃত জমি</th>
            </tr>
            <tr>
                <th>২০১৭-১৮</th>
                <th>২০১৮-১৯</th>
                <th>২০১৯-২০</th>
                <th>২০২০-২১</th>
                <th>২০২১-২২</th>
                <th>২০২২-২৩</th>
                <th>২০১৭-১৮</th>
                <th>২০১৮-১৯</th>
                <th>২০১৯-২০</th>
                <th>২০২০-২১</th>
                <th>২০২১-২২</th>
                <th>২০২২-২৩</th>
            </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>