<%- include('../../includes/header')-%>
        <div class="wrapper">
          <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>প্রদর্শনীর অগ্রগতির প্রতিবেদন ফর্ম</h2></div>
                                <p><%                                                                                                 
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/saao/selectedFieldEditPost/<%= records.id %>" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>

                                        
                                    
                                    <div class="form-group">
                                        <label for="name" class="col-md-3 control-label">কৃষকের নাম</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="name" placeholder="কৃষকের নাম" value="<%=records.name%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="fname" class="col-md-3 control-label">পিতার নাম</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="fname" placeholder="পিতার নাম" value="<%=records.fname%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="mobile" class="col-md-3 control-label">মোবাইল নং</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="mobile" placeholder="মোবাইল নং" value="<%=records.mobile%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="total" class="col-md-3 control-label">মোট কৃষি জমি(শতাংশ)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="total" placeholder="মোট কৃষি জমি(শতাংশ)" value="<%=records.total%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="shorisha" class="col-md-3 control-label">সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="robi1" placeholder="সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)" value="<%=records.robi1%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="boro" class="col-md-3 control-label">বোরো আবাদকৃত জমির পরিমাণ (শতাংশ)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="robi2" placeholder="বোরো আবাদকৃত জমির পরিমাণ (শতাংশ)" value="<%=records.robi2%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="breed" class="col-md-3 control-label">সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="robi3" placeholder="সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)" value="<%=records.robi3%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="breed" class="col-md-3 control-label">সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="robi4" placeholder="সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)" value="<%=records.robi4%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="breed" class="col-md-3 control-label">সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="robi5" placeholder="সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)" value="<%=records.robi5%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="breed" class="col-md-3 control-label">সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="robi6" placeholder="সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)" value="<%=records.robi6%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="breed" class="col-md-3 control-label">আউশ আবাদকৃত জমির পরিমাণ (শতাংশ)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="kharif1_1" placeholder="আউশ আবাদকৃত জমির পরিমাণ (শতাংশ)" value="<%=records.kharif1_1%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="breed" class="col-md-3 control-label">পাট আবাদকৃত জমির পরিমাণ (শতাংশ)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="kharif1_2" placeholder="পাট আবাদকৃত জমির পরিমাণ (শতাংশ)" value="<%=records.kharif1_2%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="breed" class="col-md-3 control-label">সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="kharif1_3" placeholder="সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)" value="<%=records.kharif1_3%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="breed" class="col-md-3 control-label">রোপা আমন আবাদকৃত জমির পরিমাণ (শতাংশ)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="kharif2_1" placeholder="রোপা আমন আবাদকৃত জমির পরিমাণ (শতাংশ)" value="<%=records.kharif2_1%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="breed" class="col-md-3 control-label">সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="kharif2_2" placeholder="সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)" value="<%=records.kharif2_2%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="breed" class="col-md-3 control-label">সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="kharif2_3" placeholder="সরিষার আবাদকৃত জমির পরিমাণ (শতাংশ)" value="<%=records.kharif2_3%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="irrigation" class="col-md-3 control-label">কৃষকের সেচ যন্ত্র আছে কিনা?</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="irrigation" placeholder="কৃষকের সেচ যন্ত্র আছে কিনা?" value="<%=records.irrigation%>">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="groups" class="col-md-3 control-label">ব্লকে এসএএও কর্তৃক গঠিত কত নাম্বার কৃষকের গ্রুপের সদস্য</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="groups" placeholder="ব্লকে এসএএও কর্তৃক গঠিত কত নাম্বার কৃষকের গ্রুপের সদস্য" value="<%=records.groups%>">
                                        </div>
                                    </div>



                                   

                                    <input type="hidden" class="form-control" name="year" placeholder="বছর" value="<%=records.year%>">


                                            <input type="hidden" class="form-control" name="user_id" placeholder="id" value="<%= user_id %>">
                                        
                                    
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../../includes/footer')-%>